Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

feat: integrate spar — AADL-to-WIT generation (aadl_wit_library rule)
  MODULE.bazel
  checksums/tools/spar.json
  examples/spar_example/BUILD.bazel
  examples/spar_example/building_control.aadl
  toolchains/BUILD.bazel
  toolchains/spar_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/defs.bzl
  wasm/extensions.bzl
  wasm/private/aadl_wit_library.bzl
Due: buildifier, bazel-test-changed

feat: integrate witness — MC/DC coverage rule (wasm_module_coverage)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/witness.json
  examples/witness_example/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/tool_registry.bzl
  toolchains/witness_toolchain.bzl
  wasm/defs.bzl
  wasm/extensions.bzl
  wasm/private/wasm_module_coverage.bzl
Due: buildifier, bazel-test-changed

feat: integrate spar (AADL→WIT) and witness (MC/DC coverage) (#467)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/spar.json
  checksums/tools/witness.json
  examples/spar_example/BUILD.bazel
  examples/spar_example/building_control.aadl
  examples/witness_example/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/spar_toolchain.bzl
  toolchains/tool_registry.bzl
  toolchains/witness_toolchain.bzl
  wasm/defs.bzl
  wasm/extensions.bzl
  wasm/private/aadl_wit_library.bzl
  wasm/private/wasm_module_coverage.bzl
Due: buildifier, bazel-test-changed

feat: integrate synth — promote synth_compile to a hermetic toolchain
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/synth.json
  examples/synth_example/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/synth_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/extensions.bzl
  wasm/private/synth_compile.bzl
Due: buildifier, bazel-test-changed

chore: clean up the go_component example
  examples/go_component/BUILD.bazel
  examples/go_component/bindings.go
  examples/go_component/calculator_basic.go
  examples/go_component/calculator_main.go
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_reactor.go
  examples/go_component/calculator_simple_binding.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/handlers.go
  examples/go_component/main.go
  examples/go_component/service.go
  examples/go_component/simple_main.go
  examples/go_component/wit/simple-calculator.wit
Due: buildifier, wit-validation, bazel-test-changed

feat: integrate synth — promote synth_compile to a hermetic toolchain (#468)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/synth.json
  examples/synth_example/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/synth_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/extensions.bzl
  wasm/private/synth_compile.bzl
Due: buildifier, bazel-test-changed

ci: drop removed go_component targets from the ci.yml build list
  .github/workflows/ci.yml
Due: none

chore: clean up the go_component example (15 targets → 8) (#469)
  .github/workflows/ci.yml
  examples/go_component/BUILD.bazel
  examples/go_component/bindings.go
  examples/go_component/calculator_basic.go
  examples/go_component/calculator_main.go
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_reactor.go
  examples/go_component/calculator_simple_binding.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/handlers.go
  examples/go_component/main.go
  examples/go_component/service.go
  examples/go_component/simple_main.go
  examples/go_component/wit/simple-calculator.wit
Due: buildifier, wit-validation, bazel-test-changed

feat: add Nix flake for a reproducible development environment
  .github/workflows/nix.yml
  CONTRIBUTING.md
  flake.lock
  flake.nix
Due: none

feat: add Nix flake for a reproducible development environment (#470)
  .github/workflows/nix.yml
  CONTRIBUTING.md
  flake.lock
  flake.nix
Due: none

chore(deps): bump PulseEngine toolchains (meld, spar, synth, wsc)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/meld.json
  checksums/tools/spar.json
  checksums/tools/synth.json
  checksums/tools/wsc.json
  toolchains/meld_toolchain.bzl
  toolchains/spar_toolchain.bzl
  toolchains/synth_toolchain.bzl
  toolchains/tool_versions.bzl
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

chore(deps): bump PulseEngine toolchains (meld, spar, synth, wsc) (#471)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/meld.json
  checksums/tools/spar.json
  checksums/tools/synth.json
  checksums/tools/wsc.json
  toolchains/meld_toolchain.bzl
  toolchains/spar_toolchain.bzl
  toolchains/synth_toolchain.bzl
  toolchains/tool_versions.bzl
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

fix(wasm_optimize): resolve symlinked inputs via loom_wrapper (#490)
  tools/loom_wrapper/BUILD.bazel
  tools/loom_wrapper/main.go
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

fix(checksums): restore wsc wasm_component platform (unbreaks wasm_signing)
  checksums/tools/wsc.json
Due: none

fix(checksums): use wsc-cli.wasm (runnable module), drop 0.9.0 wasm entry
  checksums/tools/wsc.json
Due: none

fix(checksums): restore wsc wasm_component platform (unbreaks wasm_signing tree) (#499)
  checksums/tools/wsc.json
Due: none

fix(loom_wrapper): pass wasmtime path from rule, not runfiles (#490)
  tools/loom_wrapper/BUILD.bazel
  tools/loom_wrapper/main.go
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

feat(checksum_updater): support PulseEngine universal-wasm tools (#498)
  tools/checksum_updater/src/checksum_manager.rs
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
Due: rustfmt, rust-clippy

feat(checksum_updater): support PulseEngine universal-wasm tools (#498) (#502)
  tools/checksum_updater/src/checksum_manager.rs
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
Due: rustfmt, rust-clippy

fix(wasm_optimize): resolve symlinked inputs via loom_wrapper (#490) (#497)
  tools/loom_wrapper/BUILD.bazel
  tools/loom_wrapper/main.go
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

fix(wasmsign2_wrapper): pass wasmtime + wasm paths from rules, not runfiles (#501)
  tools/wasmsign2_wrapper/BUILD.bazel
  tools/wasmsign2_wrapper/main.go
  wasm/private/wasm_signing.bzl
Due: buildifier, bazel-test-changed

fix(#501): also fix wsc_attestation wrapper callers; share helper
  wasm/private/BUILD.bazel
  wasm/private/wasm_signing.bzl
  wasm/private/wasmsign2_tools.bzl
  wasm/private/wsc_attestation.bzl
Due: buildifier, bazel-test-changed

fix(wasmsign2_wrapper): pass wasmtime + wasm paths from rules, not runfiles (#501) (#503)
  tools/wasmsign2_wrapper/BUILD.bazel
  tools/wasmsign2_wrapper/main.go
  wasm/private/BUILD.bazel
  wasm/private/wasm_signing.bzl
  wasm/private/wasmsign2_tools.bzl
  wasm/private/wsc_attestation.bzl
Due: buildifier, bazel-test-changed

fix(release): correct BCR publish attestation flow (adopt release_ruleset)
  .bcr/source.template.json
  .github/workflows/publish-to-bcr.yml
  .github/workflows/release.yml
  .github/workflows/release_prep.sh
Due: none

fix(release): correct BCR publish attestation flow (adopt release_ruleset) (#504)
  .bcr/source.template.json
  .github/workflows/publish-to-bcr.yml
  .github/workflows/release.yml
  .github/workflows/release_prep.sh
Due: none

feat(wasm): wasm_component_import — adopt a prebuilt .wasm component (#489)
  examples/component_import_example/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/wasm_component_import.bzl
Due: buildifier, bazel-test-changed

feat(p3): retarget WASI P3 WIT to stable v0.3.0 (#500)
  MODULE.bazel
  MODULE.bazel.lock
  test/p3/BUILD.bazel
  wit/private/wasi_p3_deps.bzl
Due: buildifier, bazel-test-changed

fix(example): repoint wasm_component_import example at a real component
  examples/component_import_example/BUILD.bazel
Due: buildifier, bazel-test-changed

feat(p3): retarget WASI P3 WIT to stable v0.3.0 (#500) (#506)
  MODULE.bazel
  MODULE.bazel.lock
  test/p3/BUILD.bazel
  wit/private/wasi_p3_deps.bzl
Due: buildifier, bazel-test-changed

feat(checksum_updater): per-platform assets + tolerate null release name (#498)
  tools/checksum_updater/src/github_client.rs
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

feat(checksum_updater): per-platform assets + tolerate null release name (#498) (#507)
  tools/checksum_updater/src/github_client.rs
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

chore(checksums): add wit-bindgen 0.58.0 + wasmtime 45.0.1 (#500)
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen.json
Due: none

chore(checksums): add wit-bindgen 0.58.0 + wasmtime 45.0.1 (#500) (#508)
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen.json
Due: none

feat(wasm): wasm_component_import — adopt a prebuilt .wasm component (#489) (#505)
  examples/component_import_example/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/wasm_component_import.bzl
Due: buildifier, bazel-test-changed

feat(p3): bump default toolchain to wasmtime 45 / wit-bindgen 0.58 (#500)
  MODULE.bazel
  MODULE.bazel.lock
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

fix(p3): hold wit-bindgen at 0.55 — bump wasmtime to 45 only
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

feat(p3): bump default runtime to wasmtime 45 (#500) (#509)
  MODULE.bazel
  MODULE.bazel.lock
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

fix(release): pin release_ruleset to v7.7.0 (v7.7.7 does not exist)
  .github/workflows/release.yml
Due: none

fix(release): pin release_ruleset to v7.7.0 (v7.7.7 does not exist) (#510)
  .github/workflows/release.yml
Due: none

fix(release): set release_ruleset bazel_test_command (avoid //... lazy-dep load)
  .github/workflows/release.yml
Due: none
