Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bazel build //:clippy
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-test-changed:
  name: Bazel Test Changed
  description: Run tests for changed Bazel targets
  entry: bash -c 'echo "Running tests for changed files..." && bazel test //test/unit:unit_tests'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

docs-link-check:
  name: Documentation Link Check
  description: Check for broken internal links in documentation
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

feat(wrpc): add wrpc and wit-bindgen-wrpc to JSON registry (Phase 2)
  checksums/tools/wit-bindgen-wrpc.json
  checksums/tools/wrpc.json
  toolchains/tool_registry.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_toolchain.bzl
  wrpc/defs.bzl
Due: buildifier, bazel-test-changed

fix(wrpc): add missing linux_arm64 and windows_amd64 checksums
  checksums/tools/wrpc.json
Due: none

feat(wrpc): add transport abstraction and language-specific bindings (Phase 3+4)
  providers/providers.bzl
  wrpc/BUILD.bazel
  wrpc/defs.bzl
  wrpc/transports.bzl
Due: buildifier, bazel-test-changed

fix: address issues #14, #18, and #34 with OCI ordering, RBE docs, and WRPC tests
  go/defs.bzl
  js/defs.bzl
  test/wrpc/BUILD.bazel
  test/wrpc/fixtures/calculator.wit
  test/wrpc/wrpc_tests.bzl
  wkg/defs.bzl
Due: buildifier, wit-validation, bazel-test-changed

feat: action graph optimization, Windows CI, and Bazel 9 compatibility
  .github/workflows/ci.yml
  CLAUDE.md
  MODULE.bazel
  MODULE.bazel.lock
  examples/moonbit_component/BUILD.bazel
  examples/multi_file_packaging/BUILD.bazel
  moonbit/private/moonbit_wasm_component.bzl
  python/private/BUILD.bazel
  python/private/python_wasm_binary.bzl
  rust/private/BUILD.bazel
  rust/private/rust_wasm_component_bindgen.bzl
  test/alignment/BUILD.bazel
  test/moonbit/BUILD.bazel
  test/toolchain/enterprise_source_test.bzl
  test_wac/BUILD_no_wasi.bazel
  toolchains/bundle.bzl
  toolchains/extensions.bzl
  toolchains/jco_toolchain.bzl
  toolchains/tool_registry.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_tools_repositories.bzl
  tools-builder/toolchains/builder_macros.bzl
  tools/vendor/defs.bzl
  wac/private/BUILD.bazel
  wasm/private/BUILD.bazel
  wit/private/BUILD.bazel
  wkg/defs.bzl
  wrpc/BUILD.bazel
  wrpc/transports.bzl
Due: buildifier, bazel-test-changed

fix(deps): update rules_moonbit commit for MoonBit checksum update
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(checksums): update componentize-py canary checksums
  checksums/tools/componentize-py.json
Due: none

docs: align README with PulseEngine visual identity
  README.md
Due: none

docs: align terminology with WebAssembly ecosystem standards
  README.md
Due: none

fix(checksums): update MoonBit and componentize-py rolling checksums
  MODULE.bazel
  checksums/tools/componentize-py.json
Due: buildifier, bazel-test-changed

fix(checksums): update componentize-py darwin_arm64 canary checksum
  checksums/tools/componentize-py.json
Due: none

fix(checksums): update MoonBit and componentize-py rolling checksums (#388)
  MODULE.bazel
  checksums/tools/componentize-py.json
Due: buildifier, bazel-test-changed

fix(checksums): update all toolchain checksums to latest upstream
  checksums/tools/binaryen.json
  checksums/tools/componentize-py.json
  checksums/tools/go.json
  checksums/tools/jco.json
  checksums/tools/nodejs.json
  checksums/tools/wac.json
  checksums/tools/wasi-sdk.json
  checksums/tools/wasm-tools.json
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen.json
  checksums/tools/wkg.json
Due: none

fix: make componentize-py lazy-loaded, not eagerly downloaded
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(checksums): restore wasmtime 39.0.1 and nodejs 20.18.0 entries
  checksums/tools/nodejs.json
  checksums/tools/wasmtime.json
Due: none

fix(checksums): restore binaryen 123 entry (pinned in MODULE.bazel)
  checksums/tools/binaryen.json
Due: none

fix: make MoonBit toolchain lazy-loaded, not eagerly downloaded
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: also disable rules_moonbit bazel_dep to prevent eager fetch
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(docs): bump astro to ^6.0.5 for starlight 0.38.x compatibility
  docs-site/package.json
Due: docs-build-check

fix: upgrade rules_rust to upstream main (post-0.69.0 + #3727)
  MODULE.bazel
Due: buildifier, bazel-test-changed

feat(versions): add P3 tool version constants and compatibility matrix
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

feat(checksums): add wasmtime 43.0.0 and wit-bindgen 0.54.0 for P3
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen.json
Due: none

feat(bundles): add stable-2026-03 and experimental-p3 bundles
  checksums/toolchain_bundles.json
Due: none

chore: initialize rivet for SDLC artifact traceability
  AGENTS.md
  artifacts/requirements.yaml
  docs/getting-started.md
  rivet.yaml
Due: none

feat(wit): add WASI P3 WIT deps and include_p3 extension option
  wasm/extensions.bzl
  wit/private/wasi_p3_deps.bzl
Due: buildifier, bazel-test-changed

feat(rust): add wasi_version attribute for P2/P3 selection
  rust/private/rust_wasm_component.bzl
Due: buildifier, bazel-test-changed

feat(python): add wasi_version attribute for P2/P3 selection
  python/private/python_wasm_binary.bzl
  python/private/python_wasm_component.bzl
Due: buildifier, bazel-test-changed

feat(test): add P2/P3 WASI version build tests and CI step
  .github/workflows/ci.yml
  test/p3/BUILD.bazel
  test/p3/src/lib.rs
  test/p3/src_p3/lib.rs
  test/p3/wit/hello.wit
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

feat(stpa): add STPA safety analysis for toolchain supply chain
  artifacts/stpa.yaml
  rivet.yaml
Due: none

fix: test Windows LNK1181 LIBPATH quoting fix from rules_rust fork
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(ci): use short output_base on Windows to avoid MAX_PATH limit
  .github/workflows/ci.yml
Due: none

fix(ci): add short output_base for Windows alongside LIBPATH quoting fix
  .github/workflows/ci.yml
Due: none

fix: use bash syntax in debug_windows.bzl (run_shell always uses bash)
  rust/private/debug_windows.bzl
Due: buildifier, bazel-test-changed

fix: bump Node.js 20.18.0 → 24.14.0 for Astro 6 compatibility
  MODULE.bazel
  toolchains/tool_versions.bzl
  wasm/language_extensions.bzl
Due: buildifier, bazel-test-changed

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$
