Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

refactor: remove deprecated tools/file_operations_component
  .github/dependabot.yml
  test/dual_implementation/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/file_ops_toolchain.bzl
  tools/file_operations_component/BUILD.bazel
  tools/file_operations_component/Cargo.toml
  tools/file_operations_component/src/lib.rs
  tools/file_operations_component/src/main.rs
  tools/file_ops/BUILD.bazel
  tools/file_ops/wit/file-operations.wit
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

upgrade: wit-bindgen from 0.48.0 to 0.49.0, add 0.48.1 support
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/registry_test.bzl
  checksums/tools/wit-bindgen.json
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

upgrade: Phase 1 and Phase 2 toolchain upgrades
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/registry_test.bzl
  checksums/tools/wasm-tools.json
  checksums/tools/wasmtime.json
  checksums/tools/wizer.json
  checksums/tools/wkg.json
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

upgrade: Align Cargo dependencies with wasm-tools 1.243.0 upgrade
  tools-builder/toolchains/Cargo.lock
  tools-builder/toolchains/Cargo.toml
  tools/wasm_embed_aot/Cargo.lock
  tools/wasm_embed_aot/Cargo.toml
Due: none

fix: Update wit-bindgen compatibility list to include 0.47.0, 0.48.x, and 0.49.0
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: Synchronize MODULE.bazel tool versions with tool_versions.bzl
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: Update MODULE.bazel.lock after version synchronization
  MODULE.bazel.lock
Due: none

fix: restore documentation build with tool_versions stardoc target
  docs/BUILD.bazel
  toolchains/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: improve docstrings and add wizer 10.0.0 support
  MODULE.bazel.lock
  toolchains/tool_versions.bzl
  toolchains/wizer_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: add missing fallback checksums for tools 1.243.0 upgrades
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

fix: add wkg 0.13.0 to hardcoded checksums
  toolchains/wkg_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: add wasmtime 39.0.1 checksums to fallback registry
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

fix: correct wac.json schema to use url_suffix instead of platform_name
  checksums/tools/wac.json
Due: none

fix: add missing tool configurations to checksum updater
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

fix: add all missing tool configurations to checksum updater
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

fix: remove non-updatable tools from checksum updater config
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

fix: only list updatable tools with GitHub API configurations
  tools/checksum_updater/src/update_engine.rs
Due: rustfmt, rust-clippy

fix: resolve JSON parsing and API issues in checksum updater
  MODULE.bazel.lock
  checksums/tools/wkg.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

fix: suppress Bazel logs in checksum updater workflow JSON output
  .github/workflows/weekly-checksum-update.yml
Due: none

fix: properly separate JSON output from Bazel logs in workflow
  .github/workflows/weekly-checksum-update.yml
Due: none

feat(file_ops): complete Phase 4 - remove embedded file_ops component
  MODULE.bazel
  checksums/tools/wac.json
  toolchains/BUILD.bazel
  toolchains/file_ops_toolchain.bzl
  tools/file_ops/BUILD.bazel
  tools/file_ops/main.go
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

fix: rename embedded file_ops binary target to match external reference
  tools/file_ops/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: update runfiles path to match renamed file_ops directory
  tools/file_ops/main.go
Due: none

fix: remove 'tools' parameter from file_ops actions to enable runfiles
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

feat(file_ops): Implement Branch 4 solution with JSON config and WASI sandbox mapping
  MODULE.bazel.lock
  go/defs.bzl
  toolchains/BUILD.bazel
  toolchains/file_ops_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops/main.go
Due: buildifier, bazel-test-changed

fix: implement hermetic file operations in Go wrapper
  tools/file_ops/main.go
Due: none

fix: resolve TinyGo compilation with file_ops workspace directory
  go/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: make wasmtime and wasm_component paths optional in file_ops
  tools/file_ops/main.go
Due: none

fix: implement concatenate_files operation in file_ops
  tools/file_ops/main.go
Due: none

fix: correct concatenate_files operation config in rust_wasm_component_bindgen
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: Add missing Windows platform support for wasi-sdk v29
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

fix: remove unnecessary wasmtime toolchain dependency from cpp_component and file_ops_actions
  MODULE.bazel.lock
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix(deps): bump octocrab to 0.48.1 to fix macOS CI sandbox failure
  tools/wizer_initializer/Cargo.lock
  tools/wizer_initializer/Cargo.toml
Due: none
