Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bazel build //:clippy
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-test-changed:
  name: Bazel Test Changed
  description: Run tests for changed Bazel targets
  entry: bash -c 'echo "Running tests for changed files..." && bazel test //test/unit:unit_tests'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

docs-link-check:
  name: Documentation Link Check
  description: Check for broken internal links in documentation
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

fix(release): set release_ruleset bazel_test_command (avoid //... lazy-dep load) (#511)
  .github/workflows/release.yml
Due: none

feat(checksums): add loom 1.1.14 native binaries (#512)
  checksums/tools/loom.json
Due: none

feat(checksums): add loom 1.1.14 native binaries (#512) (#513)
  checksums/tools/loom.json
Due: none

feat(toolchains): add native loom toolchain (#512 step 2)
  MODULE.bazel
  MODULE.bazel.lock
  toolchains/BUILD.bazel
  toolchains/loom_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

feat(wasm_optimize): run native loom toolchain; drop loom.wasm/loom_wrapper (#512)
  MODULE.bazel
  MODULE.bazel.lock
  test/p3/BUILD.bazel
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

feat: migrate wasm_optimize to native loom toolchain v1.1.14 (#512) (#514)
  MODULE.bazel
  MODULE.bazel.lock
  test/p3/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/loom_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/extensions.bzl
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

chore(checksum_updater): manage wsc; bump signing tool 0.9.0 -> 0.9.2
  checksums/tools/wsc.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

chore(checksum_updater): manage wsc; bump signing tool 0.9.0 -> 0.9.2 (#524)
  checksums/tools/wsc.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

docs(contributing): document the tool-version upgrade workflow (#498)
  CONTRIBUTING.md
Due: none

docs(contributing): document the tool-version upgrade workflow (#498) (#525)
  CONTRIBUTING.md
Due: none

feat(bindgen): per-function async override for p3 (async_interfaces) (#526)
  rust/private/rust_wasm_component_bindgen.bzl
  test/p3/BUILD.bazel
  test/p3/src_p3_sync/lib.rs
  wit/private/wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

feat(bindgen): per-function async override for p3 (async_interfaces) (#526) (#527)
  rust/private/rust_wasm_component_bindgen.bzl
  test/p3/BUILD.bazel
  test/p3/src_p3_sync/lib.rs
  wit/private/wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

feat(checksum_updater): manage native loom (PerPlatformVersionedAsset)
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
Due: rustfmt, rust-clippy

feat(checksum_updater): manage native loom (PerPlatformVersionedAsset) (#530)
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
Due: rustfmt, rust-clippy

spike: hermetic wasm tool execution via single preopened root
  test/spike_wasmtime_hermetic/BUILD.bazel
  test/spike_wasmtime_hermetic/SPIKE.md
  test/spike_wasmtime_hermetic/expected.txt
  test/spike_wasmtime_hermetic/sample.txt
  test/spike_wasmtime_hermetic/transform.rs
  wasm/private/wasm_tool_run.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

feat(checksum_updater): manage spar/synth/witness; bump spar 0.10.0 -> 0.22.0 (#539)
  checksums/tools/spar.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

fix(docs): cap typescript at ^6 for @astrojs/check compat (fixes main CI)
  .github/dependabot.yml
  docs-site/package.json
Due: docs-build-check

docs(readme): drop unbacked "formally verified / safety-critical" footer (#549)
  README.md
Due: none

fix(docs): cap typescript at ^6 for @astrojs/check compat (fixes main CI) (#584)
  .github/dependabot.yml
  docs-site/package.json
Due: docs-build-check

chore(checksum_updater): bump spar 0.22.0 -> 0.33.0 (upstream moved since PR opened)
  checksums/tools/spar.json
Due: none

fix(checksum_updater): register binaryen/wrpc/wit-bindgen-wrpc; refresh bytecodealliance registries
  checksums/tools/binaryen.json
  checksums/tools/wac.json
  checksums/tools/wasi-sdk.json
  checksums/tools/wasm-tools.json
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen-wrpc.json
  checksums/tools/wit-bindgen.json
  checksums/tools/wkg.json
  checksums/tools/wrpc.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

docs(readme): drop unbacked "formally verified / safety-critical" footer (#549) (#585)
  README.md
Due: none

feat(checksum_updater): manage spar/synth/witness; bump spar 0.10.0 → 0.22.0 (#539) (#547)
  checksums/tools/spar.json
  tools/checksum_updater/src/tool_config.rs
Due: rustfmt, rust-clippy

feat(varve): module extension — Bazel consumes varve (experimental)
  .bazelignore
  examples/varve_extension/.bazelversion
  examples/varve_extension/BUILD.bazel
  examples/varve_extension/MODULE.bazel
  examples/varve_extension/MODULE.bazel.lock
  examples/varve_extension/rolling.pub
  examples/varve_extension/varve.toml
  varve/BUILD.bazel
  varve/README.md
  varve/varve.bzl
  varve/varve_checksums.json
Due: buildifier, bazel-test-changed

feat(wit): wit_from_component — recover WIT from an adopted component (#626)
  examples/component_import_example/BUILD.bazel
  wasm/private/wasm_component_import.bzl
  wit/BUILD.bazel
  wit/defs.bzl
  wit/private/BUILD.bazel
  wit/private/wit_from_component.bzl
Due: buildifier, bazel-test-changed

feat(varve): pull in all 6 covered PulseEngine tools; run varve with a hermetic PATH
  examples/varve_extension/BUILD.bazel
  examples/varve_extension/MODULE.bazel
  examples/varve_extension/MODULE.bazel.lock
  examples/varve_extension/varve.toml
  varve/README.md
  varve/varve.bzl
  varve/varve_checksums.json
Due: buildifier, bazel-test-changed

feat(varve): module extension — Bazel consumes varve (experimental) (#606)
  .bazelignore
  examples/varve_extension/.bazelversion
  examples/varve_extension/BUILD.bazel
  examples/varve_extension/MODULE.bazel
  examples/varve_extension/MODULE.bazel.lock
  examples/varve_extension/rolling.pub
  examples/varve_extension/varve.toml
  varve/BUILD.bazel
  varve/README.md
  varve/varve.bzl
  varve/varve_checksums.json
Due: buildifier, bazel-test-changed

feat(varve): replace loom/meld/spar/synth/witness toolchains with varve
  MODULE.bazel
  examples/varve_extension/varve.toml
  rolling.pub
  varve.toml
  varve/toolchains/BUILD.bazel
Due: buildifier, bazel-test-changed

chore: drop stale MODULE.bazel comments recommending archived rules_moonbit
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: remove MoonBit language support entirely
  .github/workflows/release.yml
  MODULE.bazel
  artifacts/stpa.yaml
  examples/moonbit_component/BUILD.bazel
  examples/moonbit_component/calculator.mbt
  examples/moonbit_component/calculator.wit
  examples/moonbit_component/hello.mbt
  examples/moonbit_component/hello_wasi.mbt
  moonbit/BUILD.bazel
  moonbit/defs.bzl
  moonbit/private/BUILD.bazel
  moonbit/private/moonbit_wasm_binary.bzl
  moonbit/private/moonbit_wasm_cli.bzl
  moonbit/private/moonbit_wasm_component.bzl
  test/moonbit/BUILD.bazel
  test/moonbit/moonbit_component_tests.bzl
  test/moonbit/signed_integers.mbt
  test/moonbit/signed_integers.wit
  wasm/language_extensions.bzl
Due: buildifier, wit-validation, bazel-test-changed

fix(docs): cap mermaid at ^11 for astro-mermaid compat (fixes red main CI)
  .github/dependabot.yml
  docs-site/package.json
Due: docs-build-check

fix(varve): rotate trust root, move registry, bump binary pin
  MODULE.bazel.lock
  examples/varve_extension/rolling.pub
  examples/varve_extension/varve.toml
  rolling.pub
  varve.toml
  varve/varve.bzl
  varve/varve_checksums.json
Due: buildifier, bazel-test-changed

fix(docs): cap mermaid at ^11 for astro-mermaid compat (fixes red main CI) (#661)
  .github/dependabot.yml
  docs-site/package.json
Due: docs-build-check

feat(varve): source wasm-tools/wac/wkg/wit-bindgen-wrpc from pulseengine-wasm realm
  CLAUDE.md
  MODULE.bazel
  MODULE.bazel.lock
  varve-wasm.toml
  varve/toolchains/BUILD.bazel
  wasm-rolling.pub
Due: buildifier, bazel-test-changed

fix(varve): fall back to the old download path for wasm-tools/wkg on Windows
  MODULE.bazel
  MODULE.bazel.lock
  varve/toolchains/BUILD.bazel
Due: buildifier, bazel-test-changed

chore: remove MoonBit language support entirely (#639)
  .github/workflows/release.yml
  MODULE.bazel
  artifacts/stpa.yaml
  examples/moonbit_component/BUILD.bazel
  examples/moonbit_component/calculator.mbt
  examples/moonbit_component/calculator.wit
  examples/moonbit_component/hello.mbt
  examples/moonbit_component/hello_wasi.mbt
  moonbit/BUILD.bazel
  moonbit/defs.bzl
  moonbit/private/BUILD.bazel
  moonbit/private/moonbit_wasm_binary.bzl
  moonbit/private/moonbit_wasm_cli.bzl
  moonbit/private/moonbit_wasm_component.bzl
  test/moonbit/BUILD.bazel
  test/moonbit/moonbit_component_tests.bzl
  test/moonbit/signed_integers.mbt
  test/moonbit/signed_integers.wit
  wasm/language_extensions.bzl
Due: buildifier, wit-validation, bazel-test-changed

fix(varve): keep wac on the pinned download path, not varve
  MODULE.bazel
  MODULE.bazel.lock
  varve/toolchains/BUILD.bazel
Due: buildifier, bazel-test-changed

docs(varve): clarify wac stays on the old path despite realm membership
  CLAUDE.md
  varve-wasm.toml
Due: none

feat(varve): replace loom/meld/spar/synth/witness/wasm-tools/wac/wkg/wit-bindgen-wrpc toolchains with varve (#635)
  CLAUDE.md
  MODULE.bazel
  MODULE.bazel.lock
  examples/varve_extension/varve.toml
  rolling.pub
  varve-wasm.toml
  varve.toml
  varve/toolchains/BUILD.bazel
  varve/varve.bzl
  varve/varve_checksums.json
  wasm-rolling.pub
Due: buildifier, bazel-test-changed

feat(varve): consolidate onto the covalent realm, one pin for all 8 tools
  CLAUDE.md
  MODULE.bazel
  MODULE.bazel.lock
  covalent.pub
  examples/varve_extension/BUILD.bazel
  examples/varve_extension/MODULE.bazel
  examples/varve_extension/MODULE.bazel.lock
  examples/varve_extension/varve.toml
  rolling.pub
  varve-realms.toml
  varve-wasm.toml
  varve.toml
  varve/README.md
  varve/toolchains/BUILD.bazel
  varve/toolchains/varve_toolchain_pair.bzl
  varve/varve.bzl
  varve/varve_checksums.json
  wasm-rolling.pub
Due: buildifier, bazel-test-changed

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$
