Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix(ci): use binary directly to avoid bazel run stdout pollution
  .github/workflows/weekly-checksum-update.yml
Due: none

fix(cpp): use reactor exec-model for library components
  .github/workflows/integration-examples.yml
  cpp/defs.bzl
  cpp/private/cpp_wasm_binary.bzl
Due: buildifier, bazel-test-changed

chore: remove unused rust_wasm_component_macro rule and dead code
  examples/macro_example/BUILD.bazel
  examples/macro_example/src/host.rs
  examples/macro_example/src/lib.rs
  examples/macro_example/wit/macro-example.wit
  examples/oci_publishing/src/lib.rs
  rust/defs.bzl
  rust/private/BUILD.bazel
  rust/private/rust_wasm_component_macro.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

feat: add comprehensive air-gap and vendoring support
  checksums/BUILD.bazel
  checksums/component_registry.bzl
  checksums/components/BUILD.bazel
  checksums/components/registry.json
  checksums/components/wasi-http-proxy.json
  docs-site/src/content/docs/guides/air-gap-builds.md
  tests/airgap/BUILD.bazel
  wit/defs.bzl
  wit/private/wit_vendor.bzl
  wkg/defs.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

feat: add Python WebAssembly component support
  MODULE.bazel
  checksums/tools/componentize-py.json
  examples/python_component/BUILD.bazel
  examples/python_component/app.py
  examples/python_component/cli_app.py
  examples/python_component/hello.wit
  python/BUILD.bazel
  python/defs.bzl
  python/private/BUILD.bazel
  python/private/python_wasm_binary.bzl
  python/private/python_wasm_component.bzl
  toolchains/BUILD.bazel
  toolchains/componentize_py_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/extensions.bzl
  wasm/language_extensions.bzl
Due: buildifier, wit-validation, bazel-test-changed

feat: add MoonBit WebAssembly Component support
  MODULE.bazel
  MODULE.bazel.lock
  examples/moonbit_component/BUILD.bazel
  examples/moonbit_component/calculator.mbt
  examples/moonbit_component/calculator.wit
  examples/moonbit_component/hello.mbt
  moonbit/BUILD.bazel
  moonbit/defs.bzl
  moonbit/private/BUILD.bazel
  moonbit/private/moonbit_wasm_binary.bzl
  moonbit/private/moonbit_wasm_component.bzl
Due: buildifier, wit-validation, bazel-test-changed

fix: lint issues in BUILD.bazel files
  moonbit/BUILD.bazel
  moonbit/private/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: use git_override for rules_moonbit for CI compatibility
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update rules_moonbit commit for CI fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: make rules_moonbit a dev_dependency for downstream compatibility
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update rules_moonbit commit for Windows fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: skip MoonBit examples on unsupported platforms
  examples/moonbit_component/BUILD.bazel
Due: buildifier, bazel-test-changed

chore: update rules_moonbit for unsupported platform handling
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update rules_moonbit for unsupported platform fixes
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update rules_moonbit to main branch commit
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update wit-bindgen to 0.51.0
  checksums/tools/wit-bindgen.json
Due: none

chore: update MODULE.bazel.lock for CI trigger
  MODULE.bazel.lock
Due: none

feat(moonbit): add moonbit_wasm_cli rule for WASI CLI components
  .bazelversion
  MODULE.bazel
  checksums/tools/componentize-py.json
  examples/moonbit_component/BUILD.bazel
  examples/moonbit_component/hello_wasi.mbt
  moonbit/defs.bzl
  moonbit/private/BUILD.bazel
  moonbit/private/moonbit_wasm_cli.bzl
Due: buildifier, bazel-test-changed

chore: update rules_moonbit for checksum fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: set MOON_HOME in moonbit_wasm_cli for hermetic builds
  moonbit/private/moonbit_wasm_cli.bzl
Due: buildifier, bazel-test-changed

fix: include moonbit toolchain all_files in sandbox inputs
  moonbit/private/moonbit_wasm_cli.bzl
Due: buildifier, bazel-test-changed
