Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bazel build //:clippy
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-test-changed:
  name: Bazel Test Changed
  description: Run tests for changed Bazel targets
  entry: bash -c 'echo "Running tests for changed files..." && bazel test //test/unit:unit_tests'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

docs-link-check:
  name: Documentation Link Check
  description: Check for broken internal links in documentation
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

fix: include generation_mode in Rust bindgen output filename
  wit/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

fix(windows): add .exe extension to WASI SDK binary paths
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for WASI SDK clang binaries on Windows
  toolchains/cpp_component_toolchain.bzl
Due: buildifier, bazel-test-changed

docs: improve accuracy of multi_language_composition README
  examples/multi_language_composition/README.md
Due: none

docs: comprehensive Windows platform support status
  docs/WINDOWS_SUPPORT.md
Due: none

fix: Use wit-bindgen-rt crate instead of wit-bindgen for runtime support
  MODULE.bazel
  docs/embedded_runtime_fix.md
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

refactor: remove multi_language_wasm_component in favor of wac_compose
  ACHIEVEMENTS.md
  BUILD.bazel
  MODULE.bazel.lock
  checksums/BUILD.bazel
  checksums/tools/file-ops-component.json
  docs-site/BUILD.bazel
  examples/multi_language_composition/BUILD.bazel
  examples/multi_language_composition/README.md
  examples/wac_oci_composition/mock_services/BUILD.bazel
  test_examples/dependencies/consumer/BUILD.bazel
  test_wac/BUILD.bazel
  tools/checksum_validator_multi/wit/BUILD.bazel
  tools/file_operations_component/src/lib.rs
  tools/file_operations_component/src/main.rs
  tools/file_ops_rust/lib.rs
  wasm/defs.bzl
  wasm/multi_language_wasm_component.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix(windows): use .exe extension for all WASM tool binaries on Windows
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): normalize Windows platform in cpp_component_toolchain
  toolchains/cpp_component_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): explicitly specify wasm-component-ld.exe linker on Windows
  rust/rust_wasm_component.bzl
Due: buildifier, bazel-test-changed

fix: make wit_library world attribute optional for interface libraries
  wit/wit_library.bzl
Due: buildifier, bazel-test-changed

fix(windows): use proper rules_rust settings path for rustc flags in transition
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

fix: add bitflags module to embedded wit_bindgen runtime
  MODULE.bazel.lock
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

fix: make bitflags macro publicly accessible from generated bindings
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

chore: remove orphaned shell scripts and add comprehensive audits
  .bazelci/local-testing.sh
  CHECKSUM_UPDATER_NPM_ISSUE.md
  FINAL_ISSUE_ASSESSMENT.md
  ISSUE_AUDIT_2025-11-14.md
  MODULE.bazel.lock
  SHELL_USAGE_ANALYSIS.md
  test/file_ops_integration/backward_compatibility_test.sh
  test/file_ops_integration/fallback_mechanism_test.sh
  test/file_ops_integration/performance_comparison_test.sh
  test/file_ops_integration/signature_verification_test.sh
  tools/checksum_validator_multi/test_components.sh
Due: none

chore: remove temporary audit markdown files
  CHECKSUM_UPDATER_NPM_ISSUE.md
  FINAL_ISSUE_ASSESSMENT.md
  ISSUE_AUDIT_2025-11-14.md
  SHELL_USAGE_ANALYSIS.md
Due: none

feat: add enterprise mirror support for air-gap deployments
  .bazelrc
  MODULE.bazel.lock
  toolchains/jco_toolchain.bzl
  toolchains/secure_download.bzl
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

feat: add Bazel-native toolchain vendoring for air-gap deployments
  test/vendor_integration/BUILD.bazel
  toolchains/secure_download.bzl
  tools/vendor/BUILD.bazel
  tools/vendor/README.md
  tools/vendor/defs.bzl
  tools/vendor/vendor_toolchains.bzl
Due: buildifier, bazel-test-changed

docs: remove outdated status documents and fix references
  TESTING_SUMMARY.md
  docs/VERSION_MANAGEMENT.md
  docs/WINDOWS_SUPPORT.md
  docs/clippy.md
  docs/embedded_runtime_fix.md
  test/vendor_integration/vendor_performance_test.sh
Due: none

fix: cpp rules now properly respect the language attribute
  cpp/defs.bzl
  examples/cpp_component/calculator/BUILD.bazel
  examples/cpp_component/data_structures/BUILD.bazel
  examples/cpp_component/http_service/BUILD.bazel
  examples/cpp_component/image_processing/BUILD.bazel
  examples/cpp_component/minimal_nostdlib/BUILD.bazel
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/cpp_component/simple_calculator/simple_calculator.cpp
  test/cpp/BUILD.bazel
  test/cpp/cpp_component_tests.bzl
Due: buildifier, bazel-test-changed

chore: update toolchain versions to latest releases
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/wasi-sdk.json
  checksums/tools/wasm-tools.json
  checksums/tools/wit-bindgen.json
Due: buildifier, bazel-test-changed

fix: update wasm-tools to v1.241.2 and improve checksum updater
  checksums/registry.bzl
  checksums/tools/jco.json
  checksums/tools/nonexistent-tool.json
  checksums/tools/wasm-tools.json
  tools/checksum_updater/src/checksum_manager.rs
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: correct Windows checksum for wasm-tools v1.241.2
  checksums/registry.bzl
  checksums/tools/wasm-tools.json
Due: buildifier, bazel-test-changed

fix(wit): correct wasi 0.2.3 dependencies and add 0.2.8
  MODULE.bazel
  wit/wasi_deps.bzl
Due: buildifier, bazel-test-changed

ci: migrate from macos-13 to macos-15-intel
  .github/workflows/production-readiness.yml
Due: none

feat(wit): add WASI 0.2.6 interfaces (used by wasi-sdk 29)
  MODULE.bazel
  wit/wasi_deps.bzl
Due: buildifier, bazel-test-changed

chore: update wac to v0.8.1
  checksums/registry.bzl
  checksums/tools/wac.json
Due: buildifier, bazel-test-changed

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$
