Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: restore main.go path detection in Go component rule
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix: properly compile entire Go module directory (final fix)
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix: resolve header staging regression from Issue #38 fix
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: complete Go component compilation fixes
  examples/go_component/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: resolve npm install ENOENT error in docs-site build
  docs-site/docs_build.bzl
Due: buildifier, bazel-test-changed

docs: update documentation to reflect hermetic toolchain improvements
  CONTRIBUTING.md
  docs-site/src/content/docs/reference/rules.mdx
  examples/js_component/README.md
  tools/generate_schemas/comprehensive_schemas.go
Due: docs-build-check, docs-link-check

fix: add utils.go to Go components using main.go
  examples/go_component/BUILD.bazel
Due: buildifier, bazel-test-changed

feat: fix http_service_component Go compilation with local bindings
  examples/go_component/BUILD.bazel
  examples/go_component/bindings.go
  examples/go_component/handlers.go
  examples/go_component/service.go
Due: buildifier, bazel-test-changed

fix: add missing srcs parameter to rust_wasm_component_macro
  rust/rust_wasm_component_macro.bzl
Due: buildifier, bazel-test-changed

feat: upgrade to Node.js 20.18.0 for modern dependency compatibility
  MODULE.bazel
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/tools/nodejs.json
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

fix: add default C++ toolchain registration for host Rust binaries
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: make wasmsign2 a direct rust_binary dependency instead of wrapper script
  MODULE.bazel.lock
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: correct WIT file path structure for TinyGo components
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

debug: investigate C++ toolchain resolution for Linux CI environment
  MODULE.bazel.lock
  docs-site/src/content/docs/architecture/overview.mdx
  docs-site/src/content/docs/getting-started.mdx
  docs-site/src/content/docs/tutorials/go-guided-walkthrough.mdx
  docs-site/src/content/docs/workflow/development-flow.mdx
  examples/go_component/BUILD.bazel
  go/defs.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

feat: update all major dependencies to latest versions
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: add rules_cc 0.2.0 compatibility for downstream consumers
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: correct rules_cc 0.2.0 compatibility_proxy extension name
  MODULE.bazel
Due: buildifier, bazel-test-changed

feat: restructure documentation with improved information architecture
  docs-site/astro.config.mjs
  docs-site/src/content/docs/languages/rust.md
  docs-site/src/content/docs/learn/fundamentals.mdx
  docs-site/src/content/docs/pick-your-path.mdx
  docs-site/src/content/docs/reference/composition-rules.mdx
  docs-site/src/content/docs/reference/language-rules.mdx
  docs-site/src/content/docs/reference/security-rules.mdx
  docs-site/src/content/docs/reference/wit-interface-rules.mdx
  docs-site/src/content/docs/zero-to-component.mdx
  docs-site/src/styles/custom.css
Due: docs-build-check, docs-link-check

fix(docs): correct JavaScript result type example in fundamentals
  docs-site/src/content/docs/learn/fundamentals.mdx
Due: docs-build-check, docs-link-check

feat: implement comprehensive data_structures component with 70+ WIT binding functions
  examples/cpp_component/data_structures/BUILD.bazel
  examples/cpp_component/data_structures/src/data_structures.cpp
  examples/cpp_component/data_structures/src/data_structures.h
Due: buildifier, bazel-test-changed

feat: add nostdlib option to C++ components for minimal WASM validation
  cpp/defs.bzl
Due: buildifier, bazel-test-changed

fix: disable C++ exceptions in WASI SDK components and document limitations
  docs-site/src/content/docs/languages/cpp.mdx
  docs-site/src/content/docs/troubleshooting/common-issues.mdx
  examples/cpp_component/calculator/BUILD.bazel
  examples/cpp_component/calculator/src/math_utils.cpp
  examples/cpp_component/calculator/src/math_utils.h
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

feat: Implement comprehensive Go WIT bindgen integration for WebAssembly components
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/simple_wasi.go
  examples/go_component/wit/simple-calculator.wit
  go/defs.bzl
  toolchains/tinygo_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, wit-validation, bazel-test-changed

fix: resolve CI toolchain resolution and test configuration failures
  test/go/BUILD.bazel
  wit/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

feat: enable RUST_LOG=trace for all WAC binary invocations
  wac/wac_compose.bzl
  wac/wac_plug.bzl
  wac/wac_remote_compose.bzl
Due: buildifier, bazel-test-changed

feat: fix Go component WIT world limitations and add TinyGo documentation
  MODULE.bazel.lock
  cpp/defs.bzl
  docs-site/src/content/docs/examples/wit-bindgen-with-mappings.mdx
  docs-site/src/content/docs/guides/wit-bindgen-advanced-concepts.mdx
  docs-site/src/content/docs/guides/wit-bindgen-interface-mapping.mdx
  docs-site/src/content/docs/guides/wit-bindgen-troubleshooting.mdx
  docs-site/src/content/docs/languages/cpp.mdx
  docs-site/src/content/docs/troubleshooting/common-issues.mdx
  examples/basic/BUILD.bazel
  examples/cpp_component/data_structures/BUILD.bazel
  examples/cpp_component/simple_calculator/simple_calculator.cpp
  examples/cpp_component/simple_calculator/simple_calculator.h
  examples/cpp_component/simple_calculator/simple_calculator.wit
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_basic.go
  examples/go_component/calculator_main.go
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_simple_binding.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/go.mod
  examples/go_component/main.go
  examples/go_component/simple_main.go
  examples/go_component/simple_wasi.go
  examples/go_component/wit/simple-calculator.wit
  examples/multi_profile/BUILD.bazel
  examples/wit_bindgen_with_mappings/DOCUMENTATION_SUMMARY.md
  examples/wit_bindgen_with_mappings/README.md
  examples/wit_bindgen_with_mappings/api.wit
  examples/wit_bindgen_with_mappings/src/client.rs
  examples/wit_bindgen_with_mappings/tests/bindings_test.rs
  examples/wit_bindgen_with_mappings/wasi_example.wit
  examples/world_export/BUILD.bazel
  go/defs.bzl
  rust/rust_wasm_component.bzl
  toolchains/BUILD.bazel
  toolchains/tinygo_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/wit_validator/wit_component_validator.py
  wit/wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

fix: implement libs attribute for C++ nostdlib custom library linking
  cpp/defs.bzl
  examples/cpp_component/minimal_nostdlib/BUILD.bazel
  examples/cpp_component/minimal_nostdlib/README.md
  examples/cpp_component/minimal_nostdlib/minimal_math.cpp
  examples/cpp_component/minimal_nostdlib/minimal_math.h
  examples/cpp_component/minimal_nostdlib/minimal_math.wit
  examples/cpp_component/minimal_nostdlib/minimal_system.cpp
  examples/cpp_component/minimal_nostdlib/minimal_system.wit
  examples/cpp_component/minimal_nostdlib/standard_math.cpp
  examples/go_component/calculator_simple_binding.go
  test/cpp/BUILD.bazel
Due: buildifier, wit-validation, bazel-test-changed

fix: resolve Rust dependency conflict in ssh_keygen tool
  tools/ssh_keygen/Cargo.lock
  tools/ssh_keygen/Cargo.toml
Due: none

feat: add Wasmtime AOT compilation support for WebAssembly components
  MODULE.bazel.lock
  examples/aot_example/BUILD.bazel
  examples/aot_test/BUILD.bazel
  providers/providers.bzl
  wasm/defs.bzl
  wasm/wasm_aot_aspect.bzl
  wasm/wasm_precompile.bzl
  wasm/wasm_run.bzl
Due: buildifier, bazel-test-changed

docs: add comprehensive AOT compilation documentation
  docs-site/src/content/docs/production/performance.mdx
  docs-site/src/content/docs/reference/rules.mdx
Due: docs-build-check, docs-link-check

fix: update component_validation_test to handle multiple output files
  test/integration/integration_tests.bzl
Due: buildifier, bazel-test-changed

fix: resolve Go module dependency issues and build failures
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_basic.go
  examples/go_component/go.mod
  examples/go_component/go.sum
Due: buildifier, bazel-test-changed

fix: add go_sum support to resolve Go module dependency errors
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_main.go
  go/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: implement comprehensive Go module dependency resolution
  examples/go_component/BUILD.bazel
  examples/go_component/wit/calculator.wit
Due: buildifier, wit-validation, bazel-test-changed

fix: resolve CI failures with WIT exclusions and C++ exception handling
  .github/workflows/ci.yml
  README.md
  examples/cpp_component/data_structures/src/memory_pool.cpp
  examples/cpp_component/data_structures/src/memory_pool.h
Due: none
