Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: resolve build issues and update tests for rules_rust 0.65.0 compatibility
  MODULE.bazel.lock
  checksums/registry_test.bzl
  examples/basic/BUILD.bazel
  examples/multi_file_packaging/BUILD.bazel
  examples/oci_publishing/BUILD.bazel
  examples/simple_oci_test/BUILD.bazel
  examples/wac_oci_composition/BUILD.bazel
  test/integration/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: resolve signing toolchain issues identified in #127
  MODULE.bazel
  MODULE.bazel.lock
  docs-site/src/content/docs/security/component-signing.mdx
  toolchains/wasm_toolchain.bzl
  tools/ssh_keygen/Cargo.lock
  tools/ssh_keygen/Cargo.toml
  wkg/defs.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

docs: add missing WKG rules to rule reference documentation
  docs-site/src/content/docs/reference/rules.mdx
Due: docs-build-check, docs-link-check

fix: resolve checksum updater build failure
  tools/checksum_updater/Cargo.toml
  tools/checksum_updater/src/main.rs
Due: rustfmt, rust-clippy

feat: convert checksum_updater tool to Bazel-native build
  .github/workflows/weekly-checksum-update.yml
  tools/checksum_updater/BUILD.bazel
Due: buildifier, bazel-test-changed

feat: implement hermetic Rust CLI for AOT embedding
  MODULE.bazel
  examples/aot_embed_test/BUILD.bazel
  tools/wasm_embed_aot/BUILD.bazel
  tools/wasm_embed_aot/Cargo.lock
  tools/wasm_embed_aot/Cargo.toml
  tools/wasm_embed_aot/src/lib.rs
  tools/wasm_embed_aot/src/main.rs
  tools/wasm_embed_aot/wit/world.wit
  wasm/defs.bzl
  wasm/wasm_embed_aot.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

feat: enhance AOT compilation with multi-architecture support and 87% size reduction
  docs-site/src/content/docs/production/performance.mdx
  docs-site/src/content/docs/reference/rules.mdx
  docs-site/src/content/docs/security/component-signing.mdx
  examples/aot_example/BUILD.bazel
  examples/aot_test/BUILD.bazel
  examples/wkg_integration/BUILD.bazel
  wasm/wasm_precompile.bzl
  wkg/defs.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

chore: update MODULE.bazel.lock for new crate dependencies
  MODULE.bazel.lock
Due: none

fix: apply pre-commit formatting and linting fixes
  .markdownlintignore
  CHANGELOG.md
  MODULE.bazel.lock
  docs-site/src/content/docs/reference/rules.mdx
  examples/aot_embed_test/BUILD.bazel
  examples/aot_example/BUILD.bazel
  examples/aot_test/BUILD.bazel
  examples/wac_oci_composition/BUILD.bazel
  tools/wasm_embed_aot/BUILD.bazel
  tools/wasm_embed_aot/Cargo.toml
  tools/wasm_embed_aot/src/lib.rs
  tools/wasm_embed_aot/src/main.rs
  tools/wasm_embed_aot/wit/world.wit
  wasm/wasm_embed_aot.bzl
  wkg/defs.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

fix: enable TinyGo custom WIT worlds and re-enable Go components in CI
  .github/workflows/ci.yml
  MODULE.bazel
  MODULE.bazel.lock
  examples/go_component/BUILD.bazel
  examples/go_component/README.md
  examples/go_component/calculator_reactor.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/wit/calculator.wit
  examples/go_component/wit/simple-calculator.wit
  go/defs.bzl
  tools/wit_structure/main.go
  wit/wasi_deps.bzl
  wit/wit_library.bzl
Due: buildifier, wit-validation, bazel-test-changed

feat: implement AOT embedding and parallel processing, improve codebase quality
  MODULE.bazel.lock
  cpp/defs.bzl
  docs-site/src/content/docs/composition/wac-oci-integration.mdx
  docs-site/src/content/docs/production/publishing.mdx
  examples/oci_publishing/BUILD.bazel
  examples/wac_oci_composition/BUILD.bazel
  examples/wac_oci_composition/README.md
  examples/wac_oci_composition/mock_services/BUILD.bazel
  examples/wac_oci_composition/mock_services/service_a.wit
  examples/wac_oci_composition/mock_services/service_b.wit
  examples/wac_oci_composition/mock_services/src/service_a.rs
  examples/wac_oci_composition/mock_services/src/service_b.rs
  go/defs.bzl
  js/defs.bzl
  rust/rust_wasm_component.bzl
  test/integration/BUILD.bazel
  test/wkg/unit/BUILD.bazel
  tools/checksum_updater/src/main.rs
  tools/checksum_updater/src/update_engine.rs
  tools/checksum_updater_wasm/Cargo.lock
  tools/checksum_updater_wasm/Cargo.toml
  tools/checksum_updater_wasm/src/checksum_manager.rs
  tools/checksum_updater_wasm/src/lib.rs
  tools/checksum_updater_wasm/src/update_engine.rs
  tools/wasm_embed_aot/Cargo.lock
  tools/wasm_embed_aot/Cargo.toml
  tools/wasm_embed_aot/src/lib.rs
  wac/wac_compose.bzl
  wasm/wasm_component_new.bzl
  wasm/wasm_precompile.bzl
  wasm/wasm_validate.bzl
  wit/wit_library.bzl
  wkg/defs.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

fix: correct crate name in tests and exclude failing Go calculator components
  .github/workflows/ci.yml
  tools/checksum_updater/tests/integration_test.rs
  tools/checksum_updater/tests/json_validation_test.rs
Due: rustfmt, rust-clippy

fix: enable working Go components with wit-bindgen, exclude manual exports
  .github/workflows/ci.yml
  tools/checksum_updater/tests/integration_test.rs
Due: rustfmt, rust-clippy

fix: exclude test/go targets that depend on manual-export calculator components
  .github/workflows/ci.yml
Due: none

fix: only exclude tests that actually fail, re-enable passing metadata tests
  .github/workflows/ci.yml
Due: none

fix: migrate Go components to wit-bindgen-go
  .github/workflows/ci.yml
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_bindings.go
  examples/go_component/calculator_main.go
  examples/go_component/http_service_bindings.go
  examples/go_component/wit/http-service.wit
Due: buildifier, wit-validation, bazel-test-changed

fix: add go.sum and WASI imports for analytics_service
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/cpp_component/multi_component_system/go.sum
  examples/cpp_component/multi_component_system/wit/analytics_service.wit
  tools/checksum_updater_wasm/BUILD.bazel
Due: buildifier, wit-validation, bazel-test-changed

fix: enable analytics_service, checksum_updater_wasm, and ssh_keygen_test in CI
  .github/workflows/ci.yml
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/cpp_component/multi_component_system/components/analytics_service_bindings.go
  examples/cpp_component/multi_component_system/go.mod
  examples/cpp_component/multi_component_system/go.sum
  tools/checksum_updater_wasm/BUILD.bazel
Due: buildifier, bazel-test-changed

chore: upgrade all toolchain and dependency versions
  MODULE.bazel
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/tools/wasm-tools.json
  checksums/tools/wasmtime.json
  checksums/tools/wkg.json
  toolchains/wkg_toolchain.bzl
  tools/wasm_embed_aot/Cargo.lock
  tools/wasm_embed_aot/Cargo.toml
Due: buildifier, bazel-test-changed

chore: upgrade Rust dependencies across all tools
  MODULE.bazel.lock
  tools-builder/toolchains/Cargo.lock
  tools-builder/toolchains/Cargo.toml
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
  tools/ssh_keygen/Cargo.lock
  tools/ssh_keygen/Cargo.toml
  tools/wasm_embed_aot/Cargo.lock
  tools/wasm_embed_aot/Cargo.toml
  tools/wizer_initializer/Cargo.lock
  tools/wizer_initializer/Cargo.toml
Due: none

fix: update calculator_reactor to use Component Model bindings
  examples/go_component/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: add missing dependencies to checksum_updater_wasm_bin
  tools/checksum_updater_wasm/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: add main() function for checksum_updater_wasm_bin rust_binary target
  tools/checksum_updater_wasm/src/main.rs
Due: rustfmt, rust-clippy

fix: conditionally compile _start for WASM targets only
  tools/checksum_updater_wasm/src/main.rs
Due: rustfmt, rust-clippy

fix: eliminate shell scripts from file operations, use hermetic Go tool
  toolchains/BUILD.bazel
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops/main.go
Due: buildifier, bazel-test-changed
