Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bazel build //:clippy
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-test-changed:
  name: Bazel Test Changed
  description: Run tests for changed Bazel targets
  entry: bash -c 'echo "Running tests for changed files..." && bazel test //test/unit:unit_tests'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

docs-link-check:
  name: Documentation Link Check
  description: Check for broken internal links in documentation
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

fix: add bzl_library targets to private/ directories for API stability
  .github/workflows/ci.yml
  rust/BUILD.bazel
  rust/private/BUILD.bazel
  wasm/BUILD.bazel
  wasm/private/BUILD.bazel
  wit/BUILD.bazel
  wit/private/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: propagate tags to internal wizer targets
  MODULE.bazel.lock
  rust/private/rust_wasm_component_wizer.bzl
Due: buildifier, bazel-test-changed

chore: update rules_rust fork to c30cafc (wasm-ld fix)
  MODULE.bazel
Due: buildifier, bazel-test-changed

feat: update examples for wasmtime wizer migration
  MODULE.bazel.lock
  examples/go_component/BUILD.bazel
  examples/macro_example/BUILD.bazel
  examples/macro_example/src/host.rs
  examples/macro_example/src/lib.rs
  examples/multi_file_packaging/BUILD.bazel
  examples/multi_file_packaging/src/bundled_service.rs
  examples/multi_file_packaging/src/sidecar_service.rs
  examples/oci_publishing/BUILD.bazel
  examples/oci_signing/BUILD.bazel
  examples/oci_signing/greeting.wit
  examples/oci_signing/src/lib.rs
  examples/wizer_example/BUILD.bazel
  examples/wizer_example/src/lib.rs
  examples/wizer_example/src/lib_simple.rs
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

ci: exclude experimental wizer targets from Build All Targets
  .github/workflows/ci.yml
Due: none

fix: add missing exports for public API stability
  go/defs.bzl
  test/integration/BUILD.bazel
  test_wit_deps/consumer/BUILD.bazel
  test_wit_deps/consumer/check_deps.bzl
  tools/generate_schemas/main.go
  tools/http_downloader_go/BUILD.bazel
  wac/BUILD.bazel
  wac/private/BUILD.bazel
  wit/defs.bzl
Due: buildifier, bazel-test-changed

feat: implement unified tool registry for toolchain downloads (#249)
  toolchains/tool_registry.bzl
  toolchains/wasmtime_toolchain.bzl
  toolchains/wkg_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(checksum-updater): add GitHub token authentication for API requests
  tools/checksum_updater/src/github_client.rs
  tools/checksum_updater_wasm/src/github_client.rs
Due: rustfmt, rust-clippy

fix: propagate tags attribute through rust_wasm_component macro
  rust/private/rust_wasm_component.bzl
Due: buildifier, bazel-test-changed

chore: update tool checksums
  checksums/registry.bzl
  checksums/tools/nodejs.json
  checksums/tools/wit-bindgen.json
Due: buildifier, bazel-test-changed

fix: checksum updater preserves custom fields in registry.bzl
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/tools/nodejs.json
  checksums/tools/tinygo.json
  checksums/tools/wac.json
  checksums/tools/wasm-tools.json
  checksums/tools/wit-bindgen.json
  checksums/tools/wkg.json
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
  tools/checksum_updater/src/checksum_manager.rs
  tools/checksum_updater/src/tool_config.rs
  tools/checksum_updater/src/update_engine.rs
  tools/checksum_updater/tests/integration_test.rs
  tools/checksum_updater/tests/json_validation_test.rs
  tools/checksum_updater_wasm/Cargo.lock
  tools/checksum_updater_wasm/Cargo.toml
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

refactor(#249): migrate wasm-tools and wit-bindgen to unified tool_registry
  MODULE.bazel.lock
  toolchains/tool_registry.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

feat(#249): migrate toolchains to unified tool_registry API
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
  toolchains/tool_registry.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

feat(#249): complete platform detection consolidation
  toolchains/cpp_component_toolchain.bzl
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  toolchains/wasi_sdk_toolchain.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

feat(#249): add enterprise air-gap support to tool_registry
  checksums/registry.bzl
  checksums/tools/binaryen.json
  checksums/tools/go.json
  test/toolchain/BUILD.bazel
  test/toolchain/enterprise_mirror_test.sh
  test/toolchain/enterprise_source_test.bzl
  toolchains/BUILD.bazel
  toolchains/tool_registry.bzl
  tools/vendor/README.md
Due: buildifier, bazel-test-changed

fix: correct wkg 0.13.0 url_suffix format (binary, not archive)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/toolchain_bundles.json
  checksums/tools/wkg.json
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
  toolchains/tool_registry.bzl
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: correct TinyGo Linux url_suffix from .tar.xz to .tar.gz
  checksums/tools/tinygo.json
Due: none

fix: update TinyGo fallback data to use .tar.gz for Linux
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

fix: propagate tags to wizer macro aliases
  rust/private/rust_wasm_component_wizer.bzl
Due: buildifier, bazel-test-changed

fix: add darwin_amd64 and windows_amd64 platforms to wasm-tools 1.243.0
  checksums/registry.bzl
  checksums/tools/wasm-tools.json
Due: buildifier, bazel-test-changed

fix: add darwin_amd64 platform to wac 0.8.1
  checksums/registry.bzl
  checksums/tools/wac.json
Due: buildifier, bazel-test-changed

fix: correct wasi-sdk 29 Windows checksum
  checksums/registry.bzl
  checksums/tools/wasi-sdk.json
Due: buildifier, bazel-test-changed

refactor!: eliminate fallback data - JSON files are now single source of truth
  checksums/registry.bzl
  checksums/tools/BUILD.bazel
  toolchains/secure_download.bzl
  toolchains/tool_registry.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

feat: add lazy toolchain loading to reduce first-build time
  MODULE.bazel.lock
  checksums/BUILD.bazel
  checksums/tools/BUILD.bazel
  docs-site/src/content/docs/guides/lazy-toolchain.md
  docs/MODULE.bazel.multi-language.example
  docs/MODULE.bazel.rust-only.example
  toolchains/BUILD.bazel
  wasm/BUILD.bazel
  wasm/language_extensions.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

docs: add comprehensive C++ component documentation
  docs-site/src/content/docs/languages/cpp.md
Due: docs-build-check, docs-link-check

docs: add WIT-first development concept guide
  docs-site/src/content/docs/concepts/wit-first.md
Due: docs-build-check, docs-link-check

docs: add ecosystem integration spike for LOOM and WSC
  docs/ecosystem-integration-spike.md
Due: none

feat: integrate LOOM optimizer and update WSC to v0.4.0
  MODULE.bazel
  checksums/registry.bzl
  checksums/tools/loom.json
  checksums/tools/wsc.json
  toolchains/BUILD.bazel
  toolchains/wasm_component_download.bzl
  wasm/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

fix: match http_file directory structure for backward compatibility
  toolchains/wasm_component_download.bzl
  wasm/private/wasm_optimize.bzl
Due: buildifier, bazel-test-changed

feat: add cross-repo integration test workflow
  .github/workflows/integration-examples.yml
Due: none

chore: remove disabled wasmtime_runtime example
  examples/wasmtime_runtime/BUILD.bazel
  examples/wasmtime_runtime/README.md
  examples/wasmtime_runtime/src/bin/component_benchmark.rs
  examples/wasmtime_runtime/src/bin/component_orchestrator.rs
  examples/wasmtime_runtime/src/bin/component_runner.rs
  examples/wasmtime_runtime/src/bin/plugin_system.rs
  examples/wasmtime_runtime/src/component_loader.rs
  examples/wasmtime_runtime/src/host_functions.rs
  examples/wasmtime_runtime/src/lib.rs
  examples/wasmtime_runtime/src/metrics.rs
  examples/wasmtime_runtime/src/runtime_config.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

docs: add Testing and LOOM optimization sections to language guides
  docs-site/src/content/docs/languages/cpp.md
  docs-site/src/content/docs/languages/rust.md
Due: docs-build-check, docs-link-check

feat(ci): add breaking change protocol with branch matching
  .github/workflows/integration-examples.yml
Due: none

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$
