Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: resolve user_service compilation errors in deterministic UUID generation
  examples/cpp_component/multi_component_system/components/user_service.rs
Due: rustfmt, rust-clippy

fix: add default host C++ toolchains for Rust binaries
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: add use_repo for local_config_cc to enable C++ toolchains
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: resolve cross-package C++ header staging issue (Issue #38)
  cpp/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: resolve header staging regression from Issue #38 fix
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: resolve wasmsign2 toolchain integration and crate dependency issues
  MODULE.bazel.lock
  rust/rust_wasm_component_macro.bzl
  toolchains/BUILD.wasmsign2
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: add missing file_ops_toolchain_type to wkg_fetch rule
  tools/file_ops_rust/lib.rs
  wkg/defs.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: resolve WIT binding namespace issues and add missing dependencies
  MODULE.bazel.lock
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/cpp_component/multi_component_system/components/user_service.rs
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: compile entire Go module directory in go_wasm_component rule
  examples/go_component/BUILD.bazel
  examples/go_component/main.go
  examples/go_component/utils.go
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix: resolve C++ header staging and Starlark syntax issues
  MODULE.bazel
  MODULE.bazel.lock
  docs-site/docs_build.bzl
  test/cross_package_headers/BUILD.bazel
  test/cross_package_headers/foundation/utils.cpp
  test/cross_package_headers/foundation/utils.h
  test/cross_package_headers/src/consumer.cpp
  toolchains/tool_cache.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  wit/symmetric_wit_bindgen.bzl
  wit/wit_deps_check.bzl
Due: buildifier, bazel-test-changed

fix: restore conditional Go compilation logic to fix module directory errors
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix: resolve remaining CI failures across component types
  docs-site/docs_build.bzl
  go/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: resolve critical CI failures across multiple component types
  MODULE.bazel.lock
  go/defs.bzl
  toolchains/jco_toolchain.bzl
  wit/wit_deps_check.bzl
Due: buildifier, bazel-test-changed

fix: resolve ld.gold compatibility and WIT binding provider forwarding
  MODULE.bazel
  MODULE.bazel.lock
  cpp/defs.bzl
  examples/symmetric_example/BUILD.bazel
  examples/symmetric_example/README.md
  examples/symmetric_example/src/symmetric.rs
  examples/symmetric_example/src/symmetric_host.rs
  examples/symmetric_example/src/traditional.rs
  examples/symmetric_example/src/traditional_host.rs
  examples/symmetric_example/wit/symmetric.wit
  rust/rust_wasm_component.bzl
  rust/rust_wasm_component_bindgen.bzl
  test/cross_package_headers/BUILD.bazel
  test/cross_package_headers/MODULE.bazel
  test/cross_package_headers/consumer.wit
  test/cross_package_headers/foundation/types.cpp
  test/cross_package_headers/foundation/types.h
  test/cross_package_headers/foundation/utils.cpp
  test/cross_package_headers/foundation/utils.h
  test/cross_package_headers/src/consumer.cpp
  test/cross_package_headers/test/header_test.cpp
  toolchains/BUILD.bazel
  toolchains/extensions.bzl
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops/BUILD.bazel
  tools/file_ops/main.go
  wasm/multi_language_wasm_component.bzl
  wit/defs.bzl
  wit/symmetric_wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

feat: implement dual strategy for TinyGo/Rust file operations selection
  test/dual_implementation/BUILD.bazel
  toolchains/BUILD.bazel
  toolchains/BUILD.bazel.file_ops
  toolchains/DUAL_IMPLEMENTATION_EXAMPLE.md
  toolchains/dual_file_ops_toolchain.bzl
  toolchains/file_ops_selection.bzl
Due: buildifier, bazel-test-changed

fix: update Node.js version to 18.20.8 for Astro compatibility
  MODULE.bazel.lock
  checksums/tools/nodejs.json
  go/defs.bzl
  tools/file_ops_rust/lib.rs
  wasm/extensions.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: update wstd from 0.5.3 to 0.5.4 to resolve wit-bindgen-rt version conflict
  tools/checksum_updater/Cargo.toml
Due: none

fix: resolve wit-bindgen-rt version conflict by eliminating getrandom/wasi dependency chain
  MODULE.bazel.lock
  tools/checksum_updater/Cargo.lock
Due: none

fix: ensure TinyGo always compiles entire Go module directory
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix: resolve Guest trait method signature mismatches
  .github/dependabot.yml
  MODULE.bazel.lock
  examples/cpp_component/multi_component_system/components/user_service.rs
Due: rustfmt, rust-clippy

fix: resolve cross-package C++ header staging for WebAssembly components
  MODULE.bazel.lock
  SYMMETRIC_IMPLEMENTATION.md
  cpp/defs.bzl
  examples/symmetric_example/BUILD.bazel
  examples/symmetric_example/README.md
  examples/symmetric_example/src/symmetric.rs
  examples/symmetric_example/src/symmetric_host.rs
  examples/symmetric_example/src/traditional.rs
  examples/symmetric_example/src/traditional_host.rs
  examples/symmetric_example/wit/symmetric.wit
  rust/rust_wasm_component_bindgen.bzl
  test/cross_package_headers/BUILD.bazel
  test/cross_package_headers/MODULE.bazel
  test/cross_package_headers/consumer.wit
  test/cross_package_headers/foundation/types.cpp
  test/cross_package_headers/foundation/types.h
  test/cross_package_headers/foundation/utils.cpp
  test/cross_package_headers/foundation/utils.h
  test/cross_package_headers/src/consumer.cpp
  test/cross_package_headers/test/header_test.cpp
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops/BUILD.bazel
  tools/file_ops/main.go
  wasm/wasm_signing.bzl
  wit/symmetric_wit_bindgen.bzl
  wit/wit_bindgen.bzl
  wit/wit_markdown.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

fix: use hermetic npm in docs-site build instead of system npm
  docs-site/docs_build.bzl
Due: buildifier, bazel-test-changed

fix: adjust JCO toolchain PATH for essential system tools
  toolchains/jco_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: remove unused wstd dependency to resolve wit-bindgen-rt version conflict
  MODULE.bazel.lock
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
Due: none

fix: eliminate environment variable contamination in hermetic toolchains
  .bazelrc
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: resolve TinyGo PATH issues with hermetic Go binary resolution
  MODULE.bazel.lock
  go/defs.bzl
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
  toolchains/wasm_toolchain.bzl
  toolchains/wizer_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops_rust/BUILD.bazel
  tools/file_ops_rust/lib.rs
  wkg/defs.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: resolve WIT dependency analyzer stdout capture issue
  tools/file_ops_rust/lib.rs
  wit/wit_deps_check.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: establish hermetic environment for docs-site Node.js subprocesses
  docs-site/docs_build.bzl
Due: buildifier, bazel-test-changed

fix: resolve remaining build failures for wit-bindgen and wasmsign2
  MODULE.bazel.lock
  toolchains/wasm_toolchain.bzl
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

fix: resolve Rust LTO compatibility issues with WebAssembly builds
  examples/cli_tool_example/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: resolve Go multi-file component compilation issues
  examples/go_component/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: correct WIT binding module structure for user service component
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/cpp_component/multi_component_system/components/user_service.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

chore: force CI cache invalidation for C++ toolchain resolution
  examples/cpp_component/multi_component_system/components/user_service.rs
  tools/checksum_updater/Cargo.toml
Due: rustfmt, rust-clippy

fix: correct WIT binding module name in CLI tool example
  examples/cli_tool_example/src/component_lib.rs
Due: rustfmt, rust-clippy

fix: update Rust WIT binding imports for rust_wasm_component_bindgen
  examples/cpp_component/multi_component_system/components/user_service.rs
Due: rustfmt, rust-clippy
