Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

docs: unified architecture analysis for issues #250, #253, #257
  docs/superpowers/plans/2026-03-22-unified-architecture-analysis.md
Due: none

refactor: extract shared wasm_component_utils.bzl from Rust rule
  common/BUILD.bazel
  common/wasm_component_utils.bzl
  rust/private/rust_wasm_component.bzl
Due: buildifier, bazel-test-changed

refactor: migrate Python rules to shared wasm_component_utils
  python/private/python_wasm_binary.bzl
  python/private/python_wasm_component.bzl
Due: buildifier, bazel-test-changed

refactor: migrate Go, C++, JS rules to shared utils + add wasi_version
  cpp/defs.bzl
  go/defs.bzl
  js/defs.bzl
Due: buildifier, bazel-test-changed

feat(#250): add unified wasm toolchain extension with language selection
  wasm/unified_extension.bzl
Due: buildifier, bazel-test-changed

fix: add missing VALIDATE_WIT_ATTR_KWARGS import in cpp/defs.bzl
  cpp/defs.bzl
Due: buildifier, bazel-test-changed

chore: bump bazel_skylib 1.8.2 → 1.9.0
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: bump rules_cc 0.2.17, rules_oci 2.3.0, stardoc 0.8.1
  MODULE.bazel
Due: buildifier, bazel-test-changed

feat: make wasi_version=p3 pass --async flag to wit-bindgen
  common/wasm_component_utils.bzl
  rust/private/rust_wasm_component_bindgen.bzl
  test/p3/BUILD.bazel
Due: buildifier, bazel-test-changed

feat: replace hand-rolled runtime stubs with wit-bindgen crate
  rust/private/rust_wasm_component_bindgen.bzl
  test/p3/BUILD.bazel
  test/p3/src_p3/lib.rs
  tools/checksum_updater/Cargo.lock
  tools/checksum_updater/Cargo.toml
  wit/private/wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: pass --pub-export-macro for all Rust generation modes
  wit/private/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: split runtime strategy — crate for WASM, embedded for host
  rust/private/rust_wasm_component_bindgen.bzl
  wit/private/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

chore: bump major deps + add version-removal detection to weekly CI
  .github/workflows/weekly-checksum-update.yml
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(docs): revert typescript to ^5.6.0 for @astrojs/check compat
  docs-site/package.json
Due: docs-build-check

fix: don't pass --async to native-guest bindings
  rust/private/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: P3 source uses cfg for async (WASM) vs sync (host)
  test/p3/src_p3/lib.rs
Due: rustfmt, rust-clippy

feat: add PulseEngine pipeline rules (Meld, Synth) and update toolchain versions
  MODULE.bazel
  MODULE.bazel.lock
  checksums/registry.bzl
  checksums/tools/loom.json
  checksums/tools/meld.json
  checksums/tools/wsc.json
  cpp/defs.bzl
  examples/go_component/BUILD.bazel
  examples/microservices_architecture/BUILD.bazel
  examples/symmetric_example/BUILD.bazel
  examples/wit_bindgen_with_mappings/BUILD.bazel
  go/defs.bzl
  js/defs.bzl
  providers/providers.bzl
  rust/private/rust_wasm_component_bindgen.bzl
  test/alignment/BUILD.bazel
  test/cross_package_headers/BUILD.bazel
  test/file_ops_integration/BUILD.bazel
  test/p3/BUILD.bazel
  test/toolchain/enterprise_source_test.bzl
  tests/airgap/BUILD.bazel
  toolchains/extensions.bzl
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_toolchain.bzl
  wasm/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/meld_fuse.bzl
  wasm/private/synth_compile.bzl
  wasm/private/wasm_optimize.bzl
  wit/defs.bzl
  wit/private/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

chore: bump all toolchain versions for P3 async support
  MODULE.bazel
  checksums/tools/binaryen.json
  checksums/tools/nodejs.json
  checksums/tools/wac.json
  checksums/tools/wasm-tools.json
  checksums/tools/wasmtime.json
  checksums/tools/wit-bindgen.json
  checksums/tools/wkg.json
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

fix: update binaryen extension default from 123 to 129
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

fix: restore binaryen 123 in registry for backward compatibility
  checksums/tools/binaryen.json
Due: none

fix: revert nodejs to 24.14.0 — tar.xz checksums differ from tar.gz
  MODULE.bazel
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

feat: meld native toolchain + synth attr cleanup
  MODULE.bazel
  MODULE.bazel.lock
  toolchains/BUILD.bazel
  toolchains/meld_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/BUILD.bazel
  wasm/extensions.bzl
  wasm/private/meld_fuse.bzl
  wasm/private/synth_compile.bzl
Due: buildifier, bazel-test-changed

feat: meld native toolchain + synth attr cleanup (#444)
  MODULE.bazel
  MODULE.bazel.lock
  toolchains/BUILD.bazel
  toolchains/meld_toolchain.bzl
  toolchains/tool_registry.bzl
  wasm/BUILD.bazel
  wasm/extensions.bzl
  wasm/private/meld_fuse.bzl
  wasm/private/synth_compile.bzl
Due: buildifier, bazel-test-changed

feat: Sigil attestation rules (wasm_attest, wasm_verify_chain, wasm_show_chain)
  examples/wasm_signing/BUILD.bazel
  tools/wasmsign2_wrapper/main.go
  wasm/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/wsc_attestation.bzl
Due: buildifier, bazel-test-changed

feat: Sigil attestation rules (wasm_attest, wasm_verify_chain, wasm_show_chain) (#445)
  examples/wasm_signing/BUILD.bazel
  tools/wasmsign2_wrapper/main.go
  wasm/BUILD.bazel
  wasm/defs.bzl
  wasm/private/BUILD.bazel
  wasm/private/wsc_attestation.bzl
Due: buildifier, bazel-test-changed

feat: end-to-end pipeline attestation example + wasm_optimize loom fix
  examples/pipeline_attestation/BUILD.bazel
  examples/pipeline_attestation/README.md
  examples/pipeline_attestation/src/lib.rs
  examples/pipeline_attestation/wit/greet.wit
  wasm/private/wasm_optimize.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

feat: end-to-end pipeline attestation example + wasm_optimize loom fix (#446)
  examples/pipeline_attestation/BUILD.bazel
  examples/pipeline_attestation/README.md
  examples/pipeline_attestation/src/lib.rs
  examples/pipeline_attestation/wit/greet.wit
  wasm/private/wasm_optimize.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

fix: correct nodejs 24.14.1 Linux tar.xz checksums; adopt in jco toolchain
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/nodejs.json
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

fix: correct nodejs 24.14.1 Linux tar.xz checksums; adopt in jco toolchain (#447)
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/nodejs.json
  toolchains/tool_versions.bzl
Due: buildifier, bazel-test-changed

ci: migrate 5 of 22 jobs to smithy self-hosted runners
  .github/workflows/bcr-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/integration-examples.yml
  .github/workflows/production-readiness.yml
  .github/workflows/release.yml
  .github/workflows/weekly-checksum-update.yml
Due: none

ci: migrate light jobs to smithy self-hosted runners (#458)
  .github/workflows/bcr-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/integration-examples.yml
  .github/workflows/production-readiness.yml
  .github/workflows/release.yml
  .github/workflows/weekly-checksum-update.yml
Due: none

chore: bump toolchain versions + fix stale wasi-sdk-32 checksums
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/wasi-sdk.json
  toolchains/binaryen_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

docs: add certifiable WASM pipeline doc + rivet decision records
  artifacts/decisions.yaml
  docs/certification-pipeline.md
Due: none

fix: use ctx.toolchains[] subscript instead of nonexistent .get()
  common/wasm_component_utils.bzl
  wit/private/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

chore: May 2026 toolchain baseline + wasi-sdk-32 checksum fix (#464)
  MODULE.bazel
  MODULE.bazel.lock
  artifacts/decisions.yaml
  checksums/tools/wasi-sdk.json
  docs/certification-pipeline.md
  toolchains/binaryen_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: use ctx.toolchains[] subscript instead of nonexistent .get() (#465)
  common/wasm_component_utils.bzl
  wit/private/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

chore: drop rules_rust git_override, adopt bazel_dep 0.70.0
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-test-changed

chore: drop rules_rust git_override, adopt bazel_dep 0.70.0 (#466)
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-test-changed
