Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: resolve C++ mutex reinterpret_cast compilation errors
  examples/cpp_component/data_structures/src/memory_pool.cpp
Due: none

fix: properly exclude WIT-enabled Go targets from CI builds
  .github/workflows/ci.yml
Due: none

fix: exclude WIT-dependent test targets from CI to prevent transitive builds
  .github/workflows/ci.yml
Due: none

fix: exclude test suite targets that transitively depend on WIT-enabled calculator_component
  .github/workflows/ci.yml
Due: none

fix: update wkg_publish rule to use WasmComponentInfo provider for multi-file component support
  wkg/defs.bzl
Due: buildifier, bazel-test-changed

fix: resolve Go module dependency issues and build failures
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_basic.go
  examples/go_component/go.mod
  examples/go_component/go.sum
Due: buildifier, bazel-test-changed

fix: resolve CI toolchain resolution and test configuration failures
  test/go/BUILD.bazel
  wit/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

feat: enable RUST_LOG=trace for all WAC binary invocations
  wac/wac_compose.bzl
  wac/wac_plug.bzl
  wac/wac_remote_compose.bzl
Due: buildifier, bazel-test-changed

feat: add Wasmtime AOT compilation support for WebAssembly components
  MODULE.bazel.lock
  examples/aot_example/BUILD.bazel
  examples/aot_test/BUILD.bazel
  providers/providers.bzl
  wasm/defs.bzl
  wasm/wasm_aot_aspect.bzl
  wasm/wasm_precompile.bzl
  wasm/wasm_run.bzl
Due: buildifier, bazel-test-changed

feat: fix Go component WIT world limitations and add TinyGo documentation
  MODULE.bazel.lock
  cpp/defs.bzl
  docs-site/src/content/docs/examples/wit-bindgen-with-mappings.mdx
  docs-site/src/content/docs/guides/wit-bindgen-advanced-concepts.mdx
  docs-site/src/content/docs/guides/wit-bindgen-interface-mapping.mdx
  docs-site/src/content/docs/guides/wit-bindgen-troubleshooting.mdx
  docs-site/src/content/docs/languages/cpp.mdx
  docs-site/src/content/docs/troubleshooting/common-issues.mdx
  examples/basic/BUILD.bazel
  examples/cpp_component/data_structures/BUILD.bazel
  examples/cpp_component/simple_calculator/simple_calculator.cpp
  examples/cpp_component/simple_calculator/simple_calculator.h
  examples/cpp_component/simple_calculator/simple_calculator.wit
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_basic.go
  examples/go_component/calculator_main.go
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_simple_binding.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/go.mod
  examples/go_component/main.go
  examples/go_component/simple_main.go
  examples/go_component/simple_wasi.go
  examples/go_component/wit/simple-calculator.wit
  examples/multi_profile/BUILD.bazel
  examples/wit_bindgen_with_mappings/DOCUMENTATION_SUMMARY.md
  examples/wit_bindgen_with_mappings/README.md
  examples/wit_bindgen_with_mappings/api.wit
  examples/wit_bindgen_with_mappings/src/client.rs
  examples/wit_bindgen_with_mappings/tests/bindings_test.rs
  examples/wit_bindgen_with_mappings/wasi_example.wit
  examples/world_export/BUILD.bazel
  go/defs.bzl
  rust/rust_wasm_component.bzl
  toolchains/BUILD.bazel
  toolchains/tinygo_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/wit_validator/wit_component_validator.py
  wit/wit_bindgen.bzl
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

fix: implement libs attribute for C++ nostdlib custom library linking
  cpp/defs.bzl
  examples/cpp_component/minimal_nostdlib/BUILD.bazel
  examples/cpp_component/minimal_nostdlib/README.md
  examples/cpp_component/minimal_nostdlib/minimal_math.cpp
  examples/cpp_component/minimal_nostdlib/minimal_math.h
  examples/cpp_component/minimal_nostdlib/minimal_math.wit
  examples/cpp_component/minimal_nostdlib/minimal_system.cpp
  examples/cpp_component/minimal_nostdlib/minimal_system.wit
  examples/cpp_component/minimal_nostdlib/standard_math.cpp
  examples/go_component/calculator_simple_binding.go
  test/cpp/BUILD.bazel
Due: buildifier, wit-validation, bazel-test-changed

fix: disable C++ exceptions in WASI SDK components and document limitations
  docs-site/src/content/docs/languages/cpp.mdx
  docs-site/src/content/docs/troubleshooting/common-issues.mdx
  examples/cpp_component/calculator/BUILD.bazel
  examples/cpp_component/calculator/src/math_utils.cpp
  examples/cpp_component/calculator/src/math_utils.h
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

feat: implement comprehensive data_structures component with 70+ WIT binding functions
  examples/cpp_component/data_structures/BUILD.bazel
  examples/cpp_component/data_structures/src/data_structures.cpp
  examples/cpp_component/data_structures/src/data_structures.h
Due: buildifier, bazel-test-changed

fix: resolve Rust dependency conflict in ssh_keygen tool
  tools/ssh_keygen/Cargo.lock
  tools/ssh_keygen/Cargo.toml
Due: none

feat: add nostdlib option to C++ components for minimal WASM validation
  cpp/defs.bzl
Due: buildifier, bazel-test-changed

fix: implement comprehensive Go module dependency resolution
  examples/go_component/BUILD.bazel
  examples/go_component/wit/calculator.wit
Due: buildifier, wit-validation, bazel-test-changed

fix: update component_validation_test to handle multiple output files
  test/integration/integration_tests.bzl
Due: buildifier, bazel-test-changed

fix: resolve CI failures with WIT exclusions and C++ exception handling
  .github/workflows/ci.yml
  README.md
  examples/cpp_component/data_structures/src/memory_pool.cpp
  examples/cpp_component/data_structures/src/memory_pool.h
Due: none

fix: add go_sum support to resolve Go module dependency errors
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_main.go
  go/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

docs: add comprehensive AOT compilation documentation
  docs-site/src/content/docs/production/performance.mdx
  docs-site/src/content/docs/reference/rules.mdx
Due: docs-build-check, docs-link-check

feat: restructure documentation with improved information architecture
  docs-site/astro.config.mjs
  docs-site/src/content/docs/languages/rust.md
  docs-site/src/content/docs/learn/fundamentals.mdx
  docs-site/src/content/docs/pick-your-path.mdx
  docs-site/src/content/docs/reference/composition-rules.mdx
  docs-site/src/content/docs/reference/language-rules.mdx
  docs-site/src/content/docs/reference/security-rules.mdx
  docs-site/src/content/docs/reference/wit-interface-rules.mdx
  docs-site/src/content/docs/zero-to-component.mdx
  docs-site/src/styles/custom.css
Due: docs-build-check, docs-link-check

feat: Implement comprehensive Go WIT bindgen integration for WebAssembly components
  examples/go_component/BUILD.bazel
  examples/go_component/calculator_manual.go
  examples/go_component/calculator_with_bindings.go
  examples/go_component/simple_wasi.go
  examples/go_component/wit/simple-calculator.wit
  go/defs.bzl
  toolchains/tinygo_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, wit-validation, bazel-test-changed

fix(docs): correct JavaScript result type example in fundamentals
  docs-site/src/content/docs/learn/fundamentals.mdx
Due: docs-build-check, docs-link-check

fix: replace external OCI dependencies with local components in microservices example
  MODULE.bazel.lock
  examples/microservices_architecture/BUILD.bazel
  examples/microservices_architecture/SOLUTION.md
  examples/microservices_architecture/src/mock_services.rs
  examples/microservices_architecture/src/payment_service.rs
  examples/microservices_architecture/src/product_catalog.rs
  examples/microservices_architecture/src/user_service.rs
  examples/microservices_architecture/wit/api_gateway.wit
  examples/microservices_architecture/wit/payment_service.wit
  examples/microservices_architecture/wit/product_catalog.wit
  examples/microservices_architecture/wit/user_service.wit
  examples/olareg_wasm/BUILD.bazel
  examples/olareg_wasm/src/main.go
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

ci: remove outdated Ubuntu 20.04 and macOS 12 from compatibility matrix
  .github/workflows/production-readiness.yml
Due: none

upgrade: update WebAssembly toolchain versions to latest
  MODULE.bazel.lock
  checksums/registry.bzl
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

upgrade: add wasm-tools 1.239.0 to WebAssembly toolchain update
  MODULE.bazel.lock
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

docs: fix all markdownlint violations and configure for incremental development
  .markdownlint.json
  .markdownlintignore
  ACHIEVEMENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs-site/CONTENT_HIERARCHY.md
  docs-site/DEPLOYMENT.md
  docs-site/README.md
  docs-site/src/content/docs/composition/wac.md
  tinygo_issue_analysis.md
  tools-builder/README.md
Due: docs-build-check, docs-link-check

feat!: upgrade to official rules_rust 0.65.0
  .bcr/README.md
  CHANGELOG.md
  MODULE.bazel
  MODULE.bazel.lock
  docs-site/src/content/docs/installation.md
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check
