Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

feat: make wasm_tools_component use hermetic wasm-tools binary
  tools/wasm_tools_component/BUILD.bazel
  tools/wasm_tools_component/src/lib.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

docs: add hermiticity analysis and remove cc_configure extension
  HERMITICITY.md
  MODULE.bazel
  tools/hermetic_test/README.md
  tools/hermetic_test/analyze_exec_log.py
  tools/hermetic_test/comprehensive_test.sh
  tools/hermetic_test/hermetic_test.sh
  tools/hermetic_test/linux_hermetic_test.sh
  tools/hermetic_test/macos_hermetic_test.sh
Due: buildifier, bazel-test-changed

docs: add RFC and solutions for rules_cc hermiticity issue
  HERMITICITY_SOLUTIONS.md
  docs/RFC_RULES_CC_AUTO_DETECT.md
Due: none

fix: resolve Rust hermiticity issue with rules_cc fork (Issue #163)
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: add hermiticity CI check and finalize hermetic builds
  .github/workflows/ci.yml
  MODULE.bazel.lock
  docs/RFC_RULES_CC_AUTO_DETECT.md
  tools/generate_schemas/BUILD.bazel
  tools/wac_deps/BUILD.bazel
  tools/wit_dependency_analyzer/BUILD.bazel
  tools/wit_structure/BUILD.bazel
Due: buildifier, bazel-test-changed

chore: ignore Python cache directories
  .gitignore
Due: none

fix: remove broken cc_configure lines and add hermetic testing suite
  .hermetic_test.sh
  .hermetic_test_README.md
  MODULE.bazel
  docs/hermetic-test-improvements.md
  docs/hermetic-testing-guide.md
Due: buildifier, bazel-test-changed

chore: update MODULE.bazel.lock after removing rules_cc override
  MODULE.bazel.lock
Due: none

chore: add hermiticity CI check and finalize hermetic builds
  .github/workflows/ci.yml
Due: none

fix: use working target in hermetic test script
  .hermetic_test.sh
Due: none

fix: update all tests to use working hello_component_release target
  .hermetic_test.sh
Due: none

fix: dynamically detect WASM output path in reproducibility test
  .hermetic_test.sh
Due: none

feat(file-ops): add Phase 1 integration for external component
  MODULE.bazel
  test/file_ops_integration/BUILD.bazel
  test/file_ops_integration/README.md
  test/file_ops_integration/backward_compatibility_test.sh
  test/file_ops_integration/fallback_mechanism_test.sh
  test/file_ops_integration/file_ops_test.bzl
  test/file_ops_integration/performance_comparison_test.sh
  test/file_ops_integration/signature_verification_test.sh
  toolchains/BUILD.bazel
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

docs(file-ops): add version tracking in checksum registry
  MODULE.bazel
  checksums/tools/file-ops-component.json
Due: buildifier, bazel-test-changed

fix(file-ops): resolve WASI sandboxing and test path issues
  test/file_ops_integration/fallback_mechanism_test.sh
  test/file_ops_integration/file_ops_test.bzl
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

feat(file-ops): upgrade to v0.1.0-rc.3 with AOT variant support
  MODULE.bazel
  checksums/tools/file-ops-component.json
Due: buildifier, bazel-test-changed

feat(file-ops): implement Phase 2 with AOT extraction and external default
  MODULE.bazel
  test/file_ops_integration/README.md
  toolchains/BUILD.bazel
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

feat(file-ops): add debug logging to verify AOT usage
  tools/file_ops_external/main.go
Due: none

feat(file-ops): Phase 3 - deprecate embedded component
  test/file_ops_integration/README.md
  toolchains/BUILD.bazel
  tools/file_ops/main.go
Due: buildifier, bazel-test-changed

refactor(file-ops): use local AOT compilation for guaranteed compatibility
  MODULE.bazel
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

fix(rust): resolve executable rule error in rust_wasm_binary
  rust/rust_wasm_binary.bzl
  test/language_support/BUILD.bazel
  test/rust_binary/BUILD.bazel
  test/rust_binary/README.md
  test/rust_binary/cli_with_deps.rs
  test/rust_binary/hello.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

feat(wasm): add Go wrapper for wasmsign2 to resolve Bazel sandbox + WASI conflict
  .github/workflows/ci.yml
  MODULE.bazel
  tools/wasmsign2_wrapper/BUILD.bazel
  tools/wasmsign2_wrapper/main.go
  wasm/wasm_signing.bzl
Due: buildifier, bazel-test-changed

feat(security): limit WASI filesystem access in file-ops to necessary directories only
  tools/file_ops_external/main.go
Due: none

fix(wkg): enable network access for OCI registry operations in CI
  wkg/defs.bzl
Due: buildifier, bazel-test-changed

fix(wasm): add backward compatibility for openssh_format attribute in wasm_keygen
  wasm/wasm_signing.bzl
Due: buildifier, bazel-test-changed
