Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bazel build //:clippy
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-test-changed:
  name: Bazel Test Changed
  description: Run tests for changed Bazel targets
  entry: bash -c 'echo "Running tests for changed files..." && bazel test //test/unit:unit_tests'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

docs-link-check:
  name: Documentation Link Check
  description: Check for broken internal links in documentation
  entry: bash -c 'cd docs-site && npm run check'
  language: system
  pass_filenames: false

feat(moonbit): add environment import to moonbit_wasm_cli
  MODULE.bazel.lock
  moonbit/private/moonbit_wasm_cli.bzl
Due: buildifier, bazel-test-changed

fix(moonbit): register toolchain and fix component build pipeline
  MODULE.bazel
  moonbit/private/moonbit_wasm_component.bzl
Due: buildifier, bazel-test-changed

fix: import CcToolchainConfigInfo for Bazel 9 compatibility
  toolchains/wasi_sdk_toolchain.bzl
  toolchains/wasm_cc_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: import cc_common from rules_cc for Bazel 9 compatibility
  toolchains/wasi_sdk_toolchain.bzl
  toolchains/wasm_cc_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: add CcInfo and cc_common imports for Bazel 9 compatibility
  cpp/defs.bzl
  cpp/private/cpp_wasm_binary.bzl
  rust/private/rust_wasm_component_bindgen.bzl
  test/cpp/cpp_component_tests.bzl
Due: buildifier, bazel-test-changed

fix(go): add configurable interp_timeout for TinyGo Go 1.25+ FIPS crypto
  go/defs.bzl
Due: buildifier, bazel-test-changed

fix(go): use official Go proxy for checksum verification
  go/defs.bzl
Due: buildifier, bazel-test-changed

chore(deps): update wasmtime to 41.0.1
  checksums/tools/wasmtime.json
Due: none

test(moonbit): add signed integer integration tests
  test/moonbit/BUILD.bazel
  test/moonbit/moonbit_component_tests.bzl
  test/moonbit/signed_integers.mbt
  test/moonbit/signed_integers.wit
Due: buildifier, wit-validation, bazel-test-changed

feat(js,wasm): add jco_types, jco_opt, and binaryen_optimize rules
  CLAUDE.md
  checksums/toolchain_bundles.json
  checksums/tools/jco.json
  examples/basic/BUILD.bazel
  examples/js_component/BUILD.bazel
  examples/simple_oci_test/BUILD.bazel
  js/defs.bzl
  js/private/BUILD.bazel
  js/private/jco_opt.bzl
  js/private/jco_types.bzl
  test/integration/BUILD.bazel
  test/js/BUILD.bazel
  test/js/js_component_tests.bzl
  toolchains/BUILD.bazel
  toolchains/binaryen_toolchain.bzl
  toolchains/jco_toolchain.bzl
  wasm/defs.bzl
  wasm/extensions.bzl
  wasm/private/BUILD.bazel
  wasm/private/binaryen_optimize.bzl
  wkg/defs.bzl
Due: buildifier, bazel-test-changed

fix: add binaryen module extension and toolchain registration
  MODULE.bazel
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

fix: binaryen symlink and document component limitation
  examples/basic/BUILD.bazel
  test/integration/BUILD.bazel
  toolchains/binaryen_toolchain.bzl
  wasm/private/binaryen_optimize.bzl
Due: buildifier, bazel-test-changed

fix(deps): update rules_moonbit commit for checksum fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

chore: update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

fix(deps): correct rules_moonbit commit hash
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(deps): update rules_moonbit commit for core-latest checksum
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(deps): update rules_moonbit commit for darwin_arm64 checksum
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix(checksums): update componentize-py canary linux_amd64 checksum
  checksums/tools/componentize-py.json
Due: none

fix(checksums): update componentize-py canary darwin_arm64 checksum
  checksums/tools/componentize-py.json
Due: none

ci: update BCR config and add publish workflow
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .bcr/source.template.json
  .github/workflows/publish.yml
Due: none

fix(deps): update wasm-tools to 1.244.0
  MODULE.bazel
  MODULE.bazel.lock
  checksums/tools/wasm-tools.json
Due: buildifier, bazel-test-changed

fix(rust): add bitflags_dep parameter for external consumers (#339)
  docs-site/src/content/docs/languages/rust.md
  docs-site/src/content/docs/troubleshooting/common-issues.mdx
  rust/private/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed, docs-build-check, docs-link-check

fix(checksums): update componentize-py canary checksums
  checksums/tools/componentize-py.json
Due: none

refactor(toolchains): use dynamic version defaults from checksums registry
  MODULE.bazel.lock
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
  toolchains/wasm_toolchain.bzl
  toolchains/wasmtime_toolchain.bzl
  toolchains/wkg_toolchain.bzl
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

chore: update toolchain versions and tests to 1.244.0
  checksums/registry_test.bzl
  checksums/toolchain_bundles.json
  test/toolchain/toolchain_download_test.bzl
  test/toolchain/toolchain_tests.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_tools_repositories.bzl
Due: buildifier, bazel-test-changed

fix(checksums): update componentize-py canary checksums for all platforms
  checksums/tools/componentize-py.json
Due: none

fix(ci): remove redundant cp command in weekly checksum workflow
  .github/workflows/weekly-checksum-update.yml
Due: none

refactor(wrpc): modernize rules with cross-platform Python launchers
  wrpc/defs.bzl
Due: buildifier, bazel-test-changed

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$
