Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: include generation_mode in Rust bindgen output filename
  wit/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: correct bindgen filename extraction and re-enable wasmsign2
  .github/workflows/ci.yml
  MODULE.bazel
  tools/wasmsign2_wrapper/BUILD.bazel
  wit/wit_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: correct Rust error handling in copy_first_matching operation
  tools/file_ops_rust/lib.rs
Due: rustfmt, rust-clippy

fix: add Deserialize trait to JSON response types
  tools/file_operations_component/src/lib.rs
Due: rustfmt, rust-clippy

fix(windows): add .exe extension to WASI SDK binary paths
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): add .exe extension to cc_toolchain tool paths
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: use string replace instead of format for exe_ext substitution
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): explicitly specify wasm-component-ld.exe linker on Windows
  rust/rust_wasm_component.bzl
Due: buildifier, bazel-test-changed

fix(windows): detect Windows host in transition and set linker to wasm-component-ld.exe
  rust/rust_wasm_component.bzl
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

fix(windows): use proper rules_rust settings path for rustc flags in transition
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

docs: comprehensive Windows platform support status
  docs/WINDOWS_SUPPORT.md
Due: none

fix(windows): add link-self-contained flag after discovering wasm-component-ld.exe exists
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

docs: update Windows support with discovery that wasm-component-ld.exe exists
  docs/WINDOWS_SUPPORT.md
Due: none

debug: add verbose logging and toolchain inspection for Windows
  rust/debug/BUILD.bazel
  rust/debug_windows.bzl
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

fix: remove -vv flag that conflicts with rules_rust verbose setting
  rust/transitions.bzl
Due: buildifier, bazel-test-changed

docs: update Windows root cause with specific filegroup pattern issue
  docs/WINDOWS_SUPPORT.md
Due: none

test: add git_override for rules_rust Windows fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: add retry logic for npm install to handle transient registry failures
  toolchains/jco_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: Replace embedded wit_bindgen runtime with proper crate dependency
  MODULE.bazel
  docs/embedded_runtime_fix.md
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: Use wit-bindgen-rt crate instead of wit-bindgen for runtime support
  MODULE.bazel
  docs/embedded_runtime_fix.md
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

chore(deps): bump octocrab and clap versions
  tools-builder/toolchains/Cargo.toml
  tools/checksum_updater/Cargo.toml
  tools/checksum_updater_wasm/Cargo.toml
  tools/ssh_keygen/Cargo.toml
  tools/wizer_initializer/Cargo.toml
Due: none

fix: Remove incorrect export macro re-export from wrapper
  docs/embedded_runtime_fix.md
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

test: Add comprehensive alignment test and validation infrastructure
  test/alignment/BUILD.bazel
  test/alignment/alignment.wit
  test/alignment/src/lib.rs
  test_components_with_wasmtime.sh
  validate_bindgen_fix.sh
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

docs: Add comprehensive testing summary for wit-bindgen-rt fix
  TESTING_SUMMARY.md
Due: none

refactor: Convert shell scripts to Bazel-native test infrastructure
  BUILD.bazel
  TESTING_SUMMARY.md
  test/alignment/BUILD.bazel
  test/alignment/alignment_test.bzl
  test/integration/BUILD.bazel
  test_components_with_wasmtime.sh
  validate_bindgen_fix.sh
Due: buildifier, bazel-test-changed

fix: Create proper nested module structure for wit_bindgen::rt
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: Revert to embedded runtime with proper allocator (no UB)
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

docs: Add comprehensive version management analysis
  docs/VERSION_MANAGEMENT.md
Due: none

fix(phase1): Update wit-bindgen to 0.46.0 across all sources
  checksums/tools/wit-bindgen.json
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.toml
Due: buildifier, bazel-test-changed

feat(phase2): Implement single source of truth for tool versions
  rust/rust_wasm_component_bindgen.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix: Disable _host (native-guest) targets to unblock CI
  MODULE.bazel.lock
  rust/rust_wasm_component_bindgen.bzl
  tools/checksum_updater/Cargo.lock
  tools/ssh_keygen/Cargo.lock
  tools/wizer_initializer/Cargo.lock
Due: buildifier, bazel-test-changed

fix: add no-op export! macro for native-guest bindings
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for wasm-opt binary verification on Windows
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed
