Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: resolve TinyGo compilation with file_ops workspace directory
  go/defs.bzl
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: implement hermetic file operations in Go wrapper
  tools/file_ops/main.go
Due: none

fix: rename embedded file_ops binary target to match external reference
  tools/file_ops/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: remove 'tools' parameter from file_ops actions to enable runfiles
  tools/bazel_helpers/file_ops_actions.bzl
Due: buildifier, bazel-test-changed

fix: correct concatenate_files operation config in rust_wasm_component_bindgen
  rust/rust_wasm_component_bindgen.bzl
Due: buildifier, bazel-test-changed

fix: make wasmtime and wasm_component paths optional in file_ops
  tools/file_ops/main.go
Due: none

fix: implement concatenate_files operation in file_ops
  tools/file_ops/main.go
Due: none

feat(file_ops): complete Phase 4 - remove embedded file_ops component
  MODULE.bazel
  checksums/tools/wac.json
  toolchains/BUILD.bazel
  toolchains/file_ops_toolchain.bzl
  tools/file_ops/BUILD.bazel
  tools/file_ops/main.go
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

feat(file_ops): Implement Branch 4 solution with JSON config and WASI sandbox mapping
  MODULE.bazel.lock
  go/defs.bzl
  toolchains/BUILD.bazel
  toolchains/file_ops_toolchain.bzl
  tools/bazel_helpers/file_ops_actions.bzl
  tools/file_ops/main.go
Due: buildifier, bazel-test-changed

fix(deps): bump octocrab to 0.48.1 to fix macOS CI sandbox failure
  tools/wizer_initializer/Cargo.lock
  tools/wizer_initializer/Cargo.toml
Due: none

fix: Add missing Windows platform support for wasi-sdk v29
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

feat: add cpp_wasm_binary and c_wasm_binary rules for CLI executables
  checksums/tools/wasi-sdk.json
  cpp/cpp_wasm_binary.bzl
  cpp/defs.bzl
  test/cpp_binary/BUILD.bazel
  test/cpp_binary/README.md
  test/cpp_binary/hello.c
  test/cpp_binary/hello.cpp
Due: buildifier, bazel-test-changed

feat: implement toolchain version bundles for guaranteed compatibility
  checksums/toolchain_bundles.json
  toolchains/bundle.bzl
  toolchains/extensions.bzl
  toolchains/tool_versions.bzl
  toolchains/wasm_tools_repositories.bzl
Due: buildifier, bazel-test-changed

feat: wire bundle versions to all toolchain repository rules
  toolchains/bundle.bzl
  toolchains/cpp_component_toolchain.bzl
  toolchains/jco_toolchain.bzl
  toolchains/tinygo_toolchain.bzl
  toolchains/wasi_sdk_toolchain.bzl
  toolchains/wasm_toolchain.bzl
  toolchains/wasmtime_toolchain.bzl
  toolchains/wizer_toolchain.bzl
  toolchains/wkg_toolchain.bzl
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

feat!: migrate from standalone wizer to wasmtime wizer subcommand
  .github/dependabot.yml
  CLAUDE.md
  MODULE.bazel
  checksums/registry.bzl
  checksums/registry_test.bzl
  checksums/toolchain_bundles.json
  checksums/tools/wizer.json
  docs-site/src/content/docs/guides/toolchain-configuration.md
  docs/toolchain_configuration.md
  examples/wizer_example/BUILD.bazel
  examples/wizer_example/README.md
  examples/wizer_example/src/lib.rs
  examples/wizer_example/src/lib_simple.rs
  toolchains/BUILD.bazel
  toolchains/BUILD.wizer
  toolchains/tool_versions.bzl
  toolchains/wasm_tools_repositories.bzl
  toolchains/wasmtime_toolchain.bzl
  toolchains/wizer_toolchain.bzl
  tools-builder/MODULE.bazel
  tools-builder/toolchains/builder_extensions.bzl
  tools-builder/toolchains/builder_macros.bzl
  tools-builder/tools/wizer/BUILD.bazel
  tools/checksum_updater/src/tool_config.rs
  tools/wizer_initializer/BUILD.bazel
  tools/wizer_initializer/Cargo.lock
  tools/wizer_initializer/Cargo.toml
  tools/wizer_initializer/src/checksum_updater.rs
  tools/wizer_initializer/src/main.rs
  wasm/extensions.bzl
  wasm/wasm_component_wizer.bzl
  wasm/wasm_component_wizer_library.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed, docs-build-check, docs-link-check

build: update rules_rust to 0.68.1, remove fork
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-test-changed

feat: update examples for wasmtime wizer migration
  MODULE.bazel.lock
  examples/go_component/BUILD.bazel
  examples/macro_example/BUILD.bazel
  examples/macro_example/src/host.rs
  examples/macro_example/src/lib.rs
  examples/multi_file_packaging/BUILD.bazel
  examples/multi_file_packaging/src/bundled_service.rs
  examples/multi_file_packaging/src/sidecar_service.rs
  examples/oci_publishing/BUILD.bazel
  examples/oci_signing/BUILD.bazel
  examples/oci_signing/greeting.wit
  examples/oci_signing/src/lib.rs
  examples/wizer_example/BUILD.bazel
  examples/wizer_example/src/lib.rs
  examples/wizer_example/src/lib_simple.rs
Due: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed

test: add action-level analysis tests with shared utilities
  test/unit/BUILD.bazel
  test/unit/action_tests.bzl
  test/unit/common.bzl
Due: buildifier, bazel-test-changed

fix: add missing exports for public API stability
  go/defs.bzl
  test/integration/BUILD.bazel
  test_wit_deps/consumer/BUILD.bazel
  test_wit_deps/consumer/check_deps.bzl
  tools/generate_schemas/main.go
  tools/http_downloader_go/BUILD.bazel
  wac/BUILD.bazel
  wac/private/BUILD.bazel
  wit/defs.bzl
Due: buildifier, bazel-test-changed

fix: add bzl_library targets to private/ directories for API stability
  .github/workflows/ci.yml
  rust/BUILD.bazel
  rust/private/BUILD.bazel
  wasm/BUILD.bazel
  wasm/private/BUILD.bazel
  wit/BUILD.bazel
  wit/private/BUILD.bazel
Due: buildifier, bazel-test-changed

fix: restore rules_rust fork for Windows wasm-component-ld.exe support
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: use upstream rules_rust 0.68.1 (rust-lld includes *-ld glob)
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: update wizer init function to wizer-initialize (wasmtime v39+)
  MODULE.bazel.lock
  rust/private/rust_wasm_component_wizer.bzl
  tools/checksum_updater_wasm/BUILD.bazel
  tools/checksum_updater_wasm/src/main.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix: use rules_rust fork with _symlink_sysroot_tree fix
  MODULE.bazel
Due: buildifier, bazel-test-changed

fix: propagate tags to internal wizer targets
  MODULE.bazel.lock
  rust/private/rust_wasm_component_wizer.bzl
Due: buildifier, bazel-test-changed

chore: update rules_rust fork to c30cafc (wasm-ld fix)
  MODULE.bazel
Due: buildifier, bazel-test-changed

ci: exclude experimental wizer targets from Build All Targets
  .github/workflows/ci.yml
Due: none
