Repository pulseengine/rules_wasm_component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-test-changed, docs-build-check, docs-link-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-test-changed: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
  docs-link-check: any of: ^docs-site/.*\.(mdx|md)$

fix: update all tests to use working hello_component_release target
  .hermetic_test.sh
Due: none

chore: add hermiticity CI check and finalize hermetic builds
  .github/workflows/ci.yml
Due: none

feat: make wasm_tools_component use hermetic wasm-tools binary
  tools/wasm_tools_component/BUILD.bazel
  tools/wasm_tools_component/src/lib.rs
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

fix(wkg): enable network access for OCI registry operations in CI
  wkg/defs.bzl
Due: buildifier, bazel-test-changed

feat(file-ops): add Phase 1 integration for external component
  MODULE.bazel
  test/file_ops_integration/BUILD.bazel
  test/file_ops_integration/README.md
  test/file_ops_integration/backward_compatibility_test.sh
  test/file_ops_integration/fallback_mechanism_test.sh
  test/file_ops_integration/file_ops_test.bzl
  test/file_ops_integration/performance_comparison_test.sh
  test/file_ops_integration/signature_verification_test.sh
  toolchains/BUILD.bazel
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

fix: resolve Rust hermiticity issue with rules_cc fork (Issue #163)
  MODULE.bazel
Due: buildifier, bazel-test-changed

refactor(file-ops): use local AOT compilation for guaranteed compatibility
  MODULE.bazel
  tools/file_ops_external/BUILD.bazel
  tools/file_ops_external/main.go
Due: buildifier, bazel-test-changed

feat(file-ops): add debug logging to verify AOT usage
  tools/file_ops_external/main.go
Due: none

feat(file-ops): Phase 3 - deprecate embedded component
  test/file_ops_integration/README.md
  toolchains/BUILD.bazel
  tools/file_ops/main.go
Due: buildifier, bazel-test-changed

docs: add hermiticity analysis and remove cc_configure extension
  HERMITICITY.md
  MODULE.bazel
  tools/hermetic_test/README.md
  tools/hermetic_test/analyze_exec_log.py
  tools/hermetic_test/comprehensive_test.sh
  tools/hermetic_test/hermetic_test.sh
  tools/hermetic_test/linux_hermetic_test.sh
  tools/hermetic_test/macos_hermetic_test.sh
Due: buildifier, bazel-test-changed

fix(deps): update dependabot configuration
  .github/dependabot.yml
Due: none

security(keygen): use OsRng instead of thread_rng for cryptographic key generation
  tools/ssh_keygen/Cargo.toml
  tools/ssh_keygen/src/main.rs
Due: rustfmt, rust-clippy

fix(windows): normalize Windows platform names in all toolchain files
  .github/workflows/bcr-compatibility.yml
  toolchains/cpp_component_toolchain.bzl
  toolchains/jco_toolchain.bzl
  toolchains/monitoring.bzl
  toolchains/symmetric_wit_bindgen_toolchain.bzl
  toolchains/wasi_sdk_toolchain.bzl
  toolchains/wasm_toolchain.bzl
  toolchains/wasmtime_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): correct wasm-tools download URL for Windows
  checksums/registry.bzl
  checksums/tools/wasm-tools.json
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): correct wkg checksum for Windows
  checksums/registry.bzl
  checksums/tools/wkg.json
  toolchains/wkg_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): correct wac checksum for Windows + add v0.8.0 to wac.json
  checksums/registry.bzl
  checksums/tools/wac.json
Due: buildifier, bazel-test-changed

fix(windows): correct wit-bindgen v0.46.0 Windows checksum
  checksums/registry.bzl
Due: buildifier, bazel-test-changed

refactor: consolidate dependency management with stratified hybrid approach
  CLAUDE.md
  MODULE.bazel
  checksums/registry.bzl
  checksums/tools/file-ops-component.json
  checksums/tools/nodejs.json
  checksums/tools/wasi-sdk.json
  checksums/tools/wasm-tools.json
  checksums/tools/wasmsign2-cli.json
  checksums/tools/wasmtime.json
  wasm/extensions.bzl
Due: buildifier, bazel-test-changed

chore: update MODULE.bazel.lock after dependency strategy changes
  MODULE.bazel.lock
Due: none

chore: remove legacy bazel strategy and orphaned BUILD files
  .gitignore
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): correct wit-bindgen stripPrefix for Windows zip archives
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): add WASI SDK v27 Windows support with verified checksum
  checksums/registry.bzl
  checksums/tools/wasi-sdk.json
Due: buildifier, bazel-test-changed

fix(windows): correct WASI SDK platform suffix from mingw to windows
  toolchains/wasi_sdk_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(tinygo): update Go version from 1.25.0 to 1.25.3
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(tinygo): use .zip extension for Windows Go downloads
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): normalize Windows platform in cpp_component_toolchain
  toolchains/cpp_component_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for Go and wasm-opt binaries on Windows
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for wasm-opt binary verification on Windows
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .zip archive and .exe extensions for TinyGo on Windows
  toolchains/tinygo_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for WASI SDK clang binaries on Windows
  toolchains/cpp_component_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): use .exe extension for all WASM tool binaries on Windows
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): detect platform in _create_build_files function
  toolchains/wasm_toolchain.bzl
Due: buildifier, bazel-test-changed

fix(windows): eliminate Python scripts for cross-platform compatibility
  examples/cli_tool_example/BUILD.bazel
  examples/macro_example/BUILD.bazel
  examples/multi_profile/BUILD.bazel
  examples/oci_publishing/BUILD.bazel
  examples/oci_signing/BUILD.bazel
  examples/wasmtime_runtime/BUILD.bazel
  examples/wit_bindgen_with_mappings/BUILD.bazel
  rust/rust_wasm_component_bindgen.bzl
  test/cross_package_headers/BUILD.bazel
  test/export_macro/BUILD.bazel
  test/integration/BUILD.bazel
  test/unit/BUILD.bazel
  test_examples/basic/BUILD.bazel
  test_wit_deps/consumer/BUILD.bazel
  tools/file_ops/main.go
  wit/symmetric_wit_bindgen.bzl
  wit/wit_bindgen.bzl
  wit/wit_library.bzl
Due: buildifier, bazel-test-changed

refactor: remove multi_language_wasm_component in favor of wac_compose
  ACHIEVEMENTS.md
  BUILD.bazel
  MODULE.bazel.lock
  checksums/BUILD.bazel
  checksums/tools/file-ops-component.json
  docs-site/BUILD.bazel
  examples/multi_language_composition/BUILD.bazel
  examples/multi_language_composition/README.md
  examples/wac_oci_composition/mock_services/BUILD.bazel
  test_examples/dependencies/consumer/BUILD.bazel
  test_wac/BUILD.bazel
  tools/checksum_validator_multi/wit/BUILD.bazel
  tools/file_operations_component/src/lib.rs
  tools/file_operations_component/src/main.rs
  tools/file_ops_rust/lib.rs
  wasm/defs.bzl
  wasm/multi_language_wasm_component.bzl
Due: buildifier, rustfmt, rust-clippy, bazel-test-changed

docs: improve accuracy of multi_language_composition README
  examples/multi_language_composition/README.md
Due: none

fix: correct BUILD file syntax errors for buildifier
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  checksums/BUILD.bazel
  docs-site/BUILD.bazel
  docs/BUILD.bazel
  examples/cpp_component/multi_component_system/BUILD.bazel
  examples/go_component/BUILD.bazel
  examples/multi_profile/BUILD.bazel
  examples/oci_publishing/BUILD.bazel
  examples/wac_oci_composition/mock_services/BUILD.bazel
  examples/wit_bindgen_with_mappings/BUILD.bazel
  go/defs.bzl
  rust/rust_wasm_component_bindgen.bzl
  test/file_ops_integration/BUILD.bazel
  test/integration/BUILD.bazel
  test/unit/BUILD.bazel
  test_examples/dependencies/consumer/BUILD.bazel
  test_wac/BUILD.bazel
  test_wit_deps/consumer/BUILD.bazel
  tools/file_ops_external/BUILD.bazel
  tools/wasm_tools_component/BUILD.bazel
  tools/wasmsign2_wrapper/BUILD.bazel
  wasm/wasm_signing.bzl
  wit/symmetric_wit_bindgen.bzl
  wit/wit_bindgen.bzl
  wkg/defs.bzl
Due: buildifier, bazel-test-changed

fix: make wit_library world attribute optional for interface libraries
  wit/wit_library.bzl
Due: buildifier, bazel-test-changed

fix: temporarily disable wasmsign2 due to missing upstream binary
  MODULE.bazel
  tools/wasmsign2_wrapper/BUILD.bazel
Due: buildifier, bazel-test-changed

ci: exclude wasm_signing examples while wasmsign2 unavailable
  .github/workflows/ci.yml
Due: none
